/****** conChinPostingBox ******/

#conChinPostingBox {
  position: relative;
  display: flex;
  justify-content: center;

  border: 1px solid #c4c4c4;
  border-radius: 10px;
  @include mobile-only() {
    width: 100%;
    height: 100%;
  }
  @include md() {
    width: 100%;
    height: 100%;
  }
  @include lg() {
    width: 100%;
    height: 100%;
  }
  #curOrder {
    position: absolute;
    display: flex;
    font-size: 4rem;
    transition: 0.15s all;
    @include mobile-only() {
      font-size: 2.2rem;
      left: 6.5%;
      top: 6%;
    }
    @include md() {
      font-size: 3rem;
      left: 8%;
      top: 5%;
    }
    @include lg() {
      font-size: 4rem;
      left: 8%;
      top: 5%;
    }
    &Chosen {
      @extend #curOrder;
      // border: 1px solid blue;
      @include mobile-only() {
        top: 7%;
      }
      @include md() {
        top: 5%;
      }
      @include lg() {
        top: 13%;
      }
    }
  }
  #postingBoxWrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    overflow: overlay;
    width: 93%;

    // border: 1px solid red;

    @include mobile-only() {
      height: 70%;
      top: 25%;
    }
    @include md() {
      height: 80%;
      top: 15%;
    }
    @include lg() {
      height: 80%;
      top: 15%;
    }
    &Chosen {
      @extend #postingBoxWrapper;
      @include mobile-only() {
        height: 60%;
        // border: 1px solid blue;
        top: 30%;
        overflow-y: hidden;
      }
      @include md() {
        height: 55%;
        top: 30%;
        overflow-y: hidden;
      }
      @include lg() {
        height: 50%;
        top: 40%;
        overflow-y: hidden;
      }
    }
    .posting {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 5px;
      transition: 0.5s all;
      border: 1px solid white;

      @include mobile-only() {
        height: 25%;
        width: 95%;
        right: 2%;
      }
      @include md() {
        height: 25%;
        width: 95%;
        right: 1%;
      }
      @include lg() {
        height: 20%;
        width: 95%;
        right: 1%;
      }
      &:hover {
        animation: pulse;
        animation-duration: 0.5s;
        box-shadow: 2px 6px 14px 0.5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        // transition: 0.15s all;
      }
      &Chosen {
        z-index: 16;
        @extend .posting;
        position: absolute;
        display: flex;
        background-color: #ffce63;
        color: white;
        transition: 0.15s all;
        top: 0%;
        right: 3.3%;
        animation: none;
        &:hover {
          animation: none;
        }
        @include mobile-only() {
          height: 70%;
          width: 100%;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 60%;
        }
        @include md() {
          height: 60%;
          width: 100%;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 65%;
        }
        @include lg() {
          height: 90%;
          width: 100%;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
        }
      }
      &UnChosen {
        display: none;
        width: 0%;
        height: 0%;
      }
      &endChosen {
        justify-content: center;
        z-index: 16;
        @extend .posting;
        position: absolute;
        display: flex;
        background-color: $gray2;
        font-weight: bold;
        color: white;
        transition: 0.15s all;
        top: 0%;
        right: 3.3%;
        animation: none;
        &:hover {
          animation: none;
        }
        @include mobile-only() {
          height: 70%;
          width: 100%;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 60%;
          font-size: 2.5rem;
        }
        @include md() {
          height: 60%;
          width: 100%;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 65%;
          font-size: 3rem;
        }
        @include lg() {
          height: 90%;
          width: 100%;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
          font-size: 3.5rem;
        }
      }
      .title {
        position: absolute;
        display: flex;
        justify-content: left;
        align-items: center;
        left: 1%;
        @include mobile-only() {
          width: 55%;
          height: 100%;
          font-size: 1.3rem;
          top: 85%;
          transform: translate(0%, -50%);
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        @include md() {
          width: 60%;
          height: 100%;
          font-size: 2rem;
          top: 85%;
          transform: translate(0%, -50%);
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        @include lg() {
          width: 60%;
          height: 100%;
          font-size: 3rem;
        }
      }
      .date {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        text-align: center;
        // border: 1px solid red;
        @include mobile-only() {
          right: 27%;
          font-size: 1rem;
          width: 15%;
        }
        @include md() {
          font-size: 1.3rem;
          width: 5%;
          right: 29%;
        }
        @include lg() {
          font-size: 1.5rem;
          width: 19%;
          right: 15%;
        }
      }
      .view {
        position: absolute;
        display: flex;
        align-items: center;
        height: 50%;
        right: 1%;

        // border: 1px solid red;
        @include mobile-only() {
          font-size: 1rem;
          transform: translate(0%, -30%);
        }
        @include md() {
          font-size: 1.2rem;
          transform: translate(0%, -20%);
        }
        @include lg() {
          font-size: 1.5rem;
          transform: translate(0%, -20%);
        }
      }
      .place {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: right;
        height: 50%;
        right: 1%;
        text-align: right;

        transform: translate(0%, 50%);
        // border: 1px solid red;
        @include mobile-only() {
          font-size: 1rem;
          width: 23%;
          transform: translate(0%, 50%);
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        @include md() {
          font-size: 1.2rem;
          width: 20%;
          transform: translate(0%, 50%);
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        @include lg() {
          font-size: 1.5rem;
          transform: translate(0%, 50%);
        }
      }
    }
  }
  /* 스크롤바 CSS */
  #postingBoxWrapper::-webkit-scrollbar {
    @include mobile-only() {
      width: 5px;
    }
    @include md() {
      width: 10px;
    }
    @include lg() {
      width: 10px;
    }
  }
  /* 스크롤바 막대 설정*/
  #postingBoxWrapper::-webkit-scrollbar-thumb {
    height: 5%;
    background-color: $yellow;
    border-radius: 10px;
  }
  /* 스크롤바 뒷 배경 투명도 설정 */
  #postingBoxWrapper::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
  /* 스크롤바 CSS */
}

/****** conChinPostingBox ******/
