#conChinArticleContentBox {
  position: absolute;
  display: flex;
  flex-wrap: wrap;

  height: 100%;
  // border: 1px solid red;
  @include mobile-only() {
    width: 100%;
  }
  @include md() {
    width: 95%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  @include lg() {
    width: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
#titleBox {
  position: relative;
  display: flex;
  width: 100%;

  @include mobile-only() {
    height: 6%;
  }
  @include md() {
    height: 5%;
  }
  @include lg() {
    height: 5%;
  }
  // border: 1px solid blue;
  border-bottom: 2px solid black;
  .title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;

    @include mobile-only() {
      height: 90%;
      width: 70%;
    }
    @include md() {
      height: 50%;
      width: 80%;
      bottom: 18%;
    }
    @include lg() {
      height: 50%;
      width: 80%;
      bottom: 10%;
    }
    // border:1px solid blue;

    .text {
      @include mobile-only() {
        font-size: 2rem;
      }
      @include md() {
        font-size: 3rem;
      }
      @include lg() {
        font-size: 4rem;
      }
      // border:1px solid blue;
    }
  }
  #profileBox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 35%;
    right: 2%;

    @include mobile-only() {
      height: 80%;
    }
    @include md() {
      height: 50%;
      bottom: 18%;
    }
    @include lg() {
      height: 50%;
      bottom: 8%;
    }
    // border:1px solid blue;
    .img {
      position: relative;
      border-radius: 100%;

      @include mobile-only() {
        bottom: 5%;
        right: 3%;
        width: 25px;
        height: 25px;
      }
      @include md() {
        bottom: 15%;
        right: 2%;
        width: 33px;
        height: 33px;
      }
      @include lg() {
        bottom: 10%;
        right: 2%;
        width: 40px;
        height: 40px;
      }
    }
  }
  .nickName {
    @include mobile-only() {
      font-size: 1.3rem;
    }
    @include md() {
      position: relative;
      font-size: 2rem;
    }
    @include lg() {
      font-size: 2.5rem;
    }
  }
}
#contentBox {
  position: absolute;
  display: flex;
  width: 100%;

  // border: 1px solid red;
  @include mobile-only() {
    height: 95%;
    top: 5%;
  }
  @include md() {
    height: 95%;
    top: 5%;
  }
  @include lg() {
    height: 95%;
    top: 5%;
  }
  #viewBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 7%;
    // border:1px solid red;
    .view {
      position: relative;
      display: flex;
      width: 80%;
      // border:1px solid red;
      color: #a0a0a0;
      @include mobile-only() {
        font-size: 1rem;
      }
      @include md() {
        font-size: 1.5rem;
      }
      @include lg() {
        font-size: 2rem;
      }
    }
  }
  #modifyBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 7%;
    // border:1px solid red;
    .modifyBtn {
      position: absolute;
      display: flex;
      // border:1px solid red;
      color: #a0a0a0;
      &:hover {
        cursor: pointer;
      }
      @include mobile-only() {
        right: 40%;
        font-size: 1.3rem;
      }
      @include md() {
        right: 35%;
        font-size: 1.8rem;
      }
      @include lg() {
        right: 35%;
        font-size: 2.5rem;
      }
    }
    .deleteBtn {
      position: absolute;
      display: flex;
      // border:1px solid red;
      color: #a0a0a0;
      &:hover {
        cursor: pointer;
      }
      @include mobile-only() {
        right: 23%;
        font-size: 1.3rem;
      }
      @include md() {
        right: 23%;
        font-size: 1.8rem;
      }
      @include lg() {
        right: 23%;
        font-size: 2.5rem;
      }
    }
    #memberBoxWrapper {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 100%;
      right: 0%;
      bottom: 0%;
      // border: 1px solid red;
    }
  }
  #content {
    position: absolute;
    display: flex;
    width: 85%;
    top: 6%;
    @include mobile-only() {
      height: 35%;
      padding-bottom: 35%;
    }
    @include md() {
      height: 37%;
      padding-bottom: 37%;
    }
    @include lg() {
      height: 45%;
      padding-bottom: 45%;
    }
    // border:1px solid blue;
    #imgWrapper {
      position: absolute;
      top: 10%;
      @include mobile-only() {
        width: 40%;
        height: 40%;
        padding-bottom: 40%;
        left: 8%;
        max-height: 70px;
        border: 3px solid $yellow;
      }
      @include md() {
        width: 37%;
        height: 37%;
        padding-bottom: 37%;
        left: 10%;
        border: 4px solid $yellow;
      }
      @include lg() {
        width: 35%;
        height: 35%;
        padding-bottom: 35%;
        left: 10%;
        border: 5px solid $yellow;
      }

      border-radius: 5px;
      .img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: 100%;
        // object-position: center;
      }
    }
    .text {
      position: absolute;
      display: flex;
      top: 10%;
      text-align: left;
      // border:1px solid blue;
      @include mobile-only() {
        font-size: 1.3rem;
        right: -3%;
        width: 45%;
        height: 35%;
        padding-bottom: 35%;
      }
      @include md() {
        font-size: 1.8rem;
        right: -10%;
        width: 55%;
        height: 35%;
      }
      @include lg() {
        font-size: 2.5rem;
        right: -10%;
        width: 55%;
        height: 35%;
      }
    }
  }
  #commentWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @include mobile-only() {
      top: 40%;
      height: 65%;
    }
    @include md() {
      top: 42%;
      height: 45%;
    }
    @include lg() {
      top: 40%;
      height: 55%;
    }
    // border: 3px solid green;
  }
  #paginationWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    width: 90%;
    height: 20%;
    // border: 1px solid red;
    @include mobile-only() {
      top: 82.5%;
      height: 20%;
    }
    @include md() {
      top: 115%;
      height: 22.5%;
    }
    @include lg() {
      top: 70%;
      height: 25%;
    }
  }
}
