#conChinArticleBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  top: 10%;
  // border:1px solid red;
  @include mobile-only() {
    border-top: 5px solid $yellow;
    height: 90%;
  }
  @include md() {
    border-top: 10px solid $yellow;
    height: 90%;
  }
  @include lg() {
    border-top: 10px solid $yellow;
    height: 90%;
  }
}
#conChinmemberBoxWrapper {
  position: absolute;
  @include mobile-only() {
    top: 40%;
  }
  @include md() {
    top: 46%;
  }
  @include lg() {
    top: 46%;
  }
}
