#conChinWritingContainer {
  z-index: 100;
  width: 100%;
  @include mobile-only() {
    position: absolute;
    top: 10%;
    height: 90%;
  }
  @include md() {
    position: fixed;
    height: 100%;
  }
  @include lg() {
    position: fixed;
    height: 100%;
  }
  #outerBackGround {
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.2);
  }
  #backGround {
    z-index: 999;
    width: 100%;
    height: 100%;
    @include mobile-only() {
    }
    @include md() {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include lg() {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  #writingModal {
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    @include mobile-only() {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    @include md() {
      width: 65%;
      height: 85%;
      border-radius: 10px;
    }
    @include lg() {
      width: 30%;
      height: 85%;
      border-radius: 10px;
    }
    #imgSelection {
      z-index: -99;
      position: absolute;
      display: flex;
      top: 30%;
      left: 45%;
      width: 10%;
    }
    #imgSelectionLabel {
      z-index: 999;
      position: absolute;
      align-items: center;
      justify-content: center;

      right: 50%;
      display: flex;

      transform: translate(50%, 0%);
      object-fit: 100%;
      background-color: white;
      opacity: 0%;
      // border: 1px solid red;
      border-radius: 10px;
      @include mobile-only() {
        width: 44.155%;
        height: 30%;
        top: 7%;
      }
      @include md() {
        width: 30%;
        height: 30%;
        top: 10%;
      }
      @include lg() {
        width: 15%;
        height: 30.5%;
        top: 10%;
      }
      &:hover {
        cursor: pointer;
        // width: 16%;
        // height: 16%;
        // background-color: yellow;
        // transition: 0.25s all;
      }
    }

    #image {
      z-index: 998;
      position: absolute;

      background-color: white;
      border-radius: 20px;
      object-fit: cover;
      object-position: center;
      // border: 3px solid blue;
      @include mobile-only() {
        top: 7%;
        width: 44.155%;
        height: 30%;
      }
      @include md() {
        top: 10%;
        width: 30%;
        height: 30%;
      }
      @include lg() {
        top: 10%;
        width: 15%;
        height: 30.5%;
      }
    }
    .box {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 5%;
      background-color: $gray;
      border-radius: 5px;
      font-size: 1.5rem;
      font-weight: bold;
      @include mobile-only() {
        width: 75%;
      }
      @include md() {
        width: 75%;
      }
      @include lg() {
        width: 75%;
      }
    }
    #concertWrapper {
      position: absolute;
      display: flex;
      align-items: center;
      height: 4.5%;
      top: 43%;
      // border: 1px solid blue;
      border-radius: 5px;
      background-color: $gray;
      @include mobile-only() {
        width: 70%;
      }
      @include md() {
        width: 50%;
      }
      @include lg() {
        width: 22.5%;
      }
    }
    #concert {
      display: block;
      position: absolute;
      width: 100%;
      overflow: hidden;
      padding: 0 0rem;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
      font-size: 1.5rem;
    }
    #write {
      position: absolute;
      height: 4.5%;
      top: 49%;
      text-align: center;
      border: 0;
      background-color: #ccc;
      outline-color: $yellow;
      font-weight: bold;
      font-size: 1.5rem;
      @include mobile-only() {
        width: 70%;
      }
      @include md() {
        width: 50%;
      }
      @include lg() {
        width: 22.5%;
      }
    }
    #peopleNum {
      position: absolute;
      top: 55%;
      height: 4.5%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      @include mobile-only() {
        width: 70%;
      }
      @include md() {
        width: 50%;
      }
      @include lg() {
        width: 22.5%;
      }

      // border: 1px solid blue;
      .want {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 100%;
        text-align: center;
        border: 0;
        border-radius: 5px;
        background-color: #ccc;
        outline-color: $yellow;
        font-weight: bold;
        // border: 1px solid blue;
        font-size: 1.5rem;
      }
      input[type='number']::-webkit-outer-spin-button,
      input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    #board {
      position: absolute;
      top: 61%;
      height: 24%;
      padding: 1%;
      white-space: pre-line;
      text-align: left;
      resize: none;
      border: 0;
      border-radius: 5px;
      background-color: #ccc;
      outline-color: $yellow;
      word-wrap: break-word;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      @include mobile-only() {
        width: 70%;
      }
      @include md() {
        width: 50%;
      }
      @include lg() {
        width: 22.5%;
      }
    }
    #btnBox {
      position: absolute;
      bottom: 9%;

      height: 4.5%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      @include mobile-only() {
        width: 70%;
      }
      @include md() {
        width: 50%;
      }
      @include lg() {
        width: 22.5%;
      }
      #no1 {
        color: #fff;
        background-color: $yellow;
        cursor: pointer;
        width: 45%;
        height: 100%;
        border: 0;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.5rem;
      }
      #no2 {
        background-color: #000;
        color: #fff;
        cursor: pointer;
        width: 45%;
        height: 100%;
        border: 0;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
}
