#conChinProfileModal {
  z-index: 999;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // border: 3px solid red;
  @include mobile-only() {
    position: fixed;
  }
  @include md() {
    position: fixed;
  }
  @include lg() {
    position: fixed;
  }

  /***** 공통 *****/
  .title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 15%;
    // border: 1px solid orange;
    font-weight: bold;
    @include mobile-only() {
      font-size: 1.5rem;
    }
    @include md() {
      font-size: 1.5rem;
    }
    @include lg() {
      font-size: 2rem;
    }
  }
  /***** 공통 *****/

  #bg {
    z-index: 998;
    position: fixed;
    display: flex;
    // background-color: white;
    background-color: #404040;
    opacity: 50%;
    @include mobile-only() {
      width: 0%;
      height: 0%;
    }
    @include md() {
      width: 100%;
      height: 100%;
    }
    @include lg() {
      width: 100%;
      height: 100%;
    }
  }
  #modalBox {
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    @include mobile-only() {
      width: 100%;
      height: 90%;
      border-radius: 0px;
      top: 10%;
    }
    @include md() {
      width: 63%;
      height: 70%;
      top: 50%;
      transform: translate(0%, -50%);
      border-radius: 20px;
    }
    @include lg() {
      width: 33%;
      height: 72%;
      top: 50%;
      transform: translate(0%, -50%);
      border-radius: 20px;
    }
    #modal {
      position: absolute;
      display: flex;
      justify-content: center;

      @include mobile-only() {
        top: 2%;
        width: 75%;
        height: 75%;
      }
      @include md() {
        top: 2%;
        width: 75%;
        height: 100%;
      }
      @include lg() {
        top: 0%;
        width: 75%;
        height: 100%;
      }
      // border: 1px solid red;
      #profileBox {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30%;
        top: 3%;
        // border: 1px solid red;
        #imgWrapper {
          position: absolute;
          display: flex;
          border: 1px solid red;
          top: 0%;
          @include mobile-only() {
            width: 13rem;
            height: 13rem;
          }
          @include md() {
            width: 13rem;
            height: 13rem;
          }
          @include lg() {
            width: 13rem;
            height: 13rem;
          }
          // border: 1px solid blue;
          .img {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 3px solid $yellow;
            border-radius: 100%;
          }
        }
        #nickNameWrapper {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 17.5%;
          top: 13.4rem;
          // border: 1px solid red;
          .nickName {
            position: relative;
            margin-left: 5%;

            font-weight: bold;
            @include mobile-only() {
              font-size: 2rem;
            }
            @include md() {
              font-size: 2.3rem;
            }
            @include lg() {
              font-size: 2.5rem;
            }
          }
          #shieldWrapper {
            position: relative;
            display: flex;
            width: 25px;
            height: 25px;
            margin-left: 1%;
            .shield {
              width: 100%;
              height: 100%;
            }
          }
        }
        #createdAtWrapper {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          @include mobile-only() {
            top: 16.5rem;
          }
          @include md() {
            top: 17.5rem;
          }
          @include lg() {
            top: 17.5rem;
          }
          // border: 1px solid red;
          #date {
            position: relative;
            font-weight: bold;
            color: #404040;
            @include mobile-only() {
              font-size: 1rem;
            }
            @include md() {
              font-size: 1.2rem;
            }
            @include lg() {
              font-size: 1.2rem;
            }
          }
        }
      }
      #introductionBox {
        position: absolute;
        display: flex;
        width: 100%;
        height: 50%;
        top: 35%;
        // border: 1px solid red;
        #emailWrapper {
          position: absolute;
          display: flex;
          align-items: center;
          width: 100%;
          height: 13%;
          top: 0%;
          // border: 1px solid blue;

          .email {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: left;
            width: 85%;
            height: 80%;
            left: 15%;
            padding-left: 2%;
            background-color: #f3f3f3;
            border: none;
            border-radius: 5px;
            @include mobile-only() {
              font-size: 1.3rem;
            }
            @include md() {
              font-size: 1.3rem;
            }
            @include lg() {
              font-size: 1.5rem;
            }
          }
        }
        #genderAndAgeWrapper {
          position: absolute;
          display: flex;
          align-items: center;
          width: 100%;
          height: 13%;
          top: 13%;
          // border: 1px solid blue;
          .title2 {
            @extend .title;
            justify-content: center;
          }
          .gender {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: left;
            width: 35%;
            height: 80%;
            padding-left: 2%;

            background-color: #f3f3f3;
            border: none;
            border-radius: 5px;
            @include mobile-only() {
              font-size: 1.3rem;
            }
            @include md() {
              font-size: 1.3rem;
            }
            @include lg() {
              font-size: 1.5rem;
            }
          }
          .age {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: left;
            width: 35%;
            height: 80%;
            padding-left: 2%;
            background-color: #f3f3f3;
            border: none;
            border-radius: 5px;
            @include mobile-only() {
              font-size: 1.3rem;
            }
            @include md() {
              font-size: 1.3rem;
            }
            @include lg() {
              font-size: 1.5rem;
            }
          }
        }
        #introductionTitle {
          position: absolute;
          display: flex;

          align-items: center;
          justify-content: left;
          width: 100%;
          height: 13%;
          font-weight: bold;
          top: 26%;
          // border: 1px solid blue;
          @include mobile-only() {
            font-size: 1.5rem;
          }
          @include md() {
            font-size: 1.5rem;
          }
          @include lg() {
            font-size: 2rem;
          }
        }
        #introductionWrapper {
          position: absolute;
          display: flex;
          width: 100%;
          height: 61%;
          top: 39%;
          // border: 1px solid blue;
          #introduction {
            width: 100%;
            height: 90%;
            top: 0%;
            background-color: #f3f3f3;
            border-radius: 5px;
            .text {
              position: absolute;
              display: flex;
              justify-content: left;
              width: 100%;
              height: 86%;
              padding-left: 2%;
              padding-right: 2%;
              top: 2%;
              @include mobile-only() {
                font-size: 1.3rem;
              }
              @include md() {
                font-size: 1.3rem;
              }
              @include lg() {
                font-size: 1.5rem;
              }
              // border: 1px solid red;
            }
          }
        }
      }
      #btnBox {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15%;
        top: 83%;
        // border: 1px solid red;
        .closeBtn {
          position: relative;
          width: 50%;
          background-color: $yellow;
          border: none;
          border-radius: 5px;
          color: white;
          font-size: 1.8rem;
          font-weight: bold;
          @include mobile-only() {
            font-size: 1.5rem;
            height: 40%;
            margin-bottom: 5%;
          }
          @include md() {
            font-size: 1.5rem;
            height: 45%;
            margin-bottom: 5%;
          }
          @include lg() {
            font-size: 2rem;
            height: 50%;
            margin-top: 5%;
          }
        }
      }
    }
  }
}
