#resetPasswordModal {
  z-index: 990;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // border: 3px solid red;
  @include mobile-only() {
    position: absolute;
  }
  @include md() {
    position: fixed;
  }
  @include lg() {
    position: fixed;
  }
  #bg {
    z-index: 991;
    position: fixed;
    display: flex;

    // background-color: white;
    background-color: #404040;
    opacity: 50%;
    @include mobile-only() {
      width: 0%;
      height: 0%;
    }
    @include md() {
      width: 0%;
      height: 0%;
    }
    @include lg() {
      width: 100%;
      height: 100%;
    }
  }
  #modalBox {
    z-index: 992;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    @include mobile-only() {
      width: 100%;
      height: 90%;
      border-radius: 0px;
      top: 15%;
    }
    @include md() {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      top: 10%;
    }
    @include lg() {
      width: 35%;
      height: 60%;
      padding-bottom: 30%;
      top: 50%;
      transform: translate(0%, -50%);
      border-radius: 20px;
    }
    #modal {
      position: absolute;
      display: flex;
      justify-content: center;

      // border: 1px solid red;
      border-radius: 20px;
      @include mobile-only() {
        width: 90%;
        height: 80%;
        top: 40%;
        transform: translate(0%, -50%);
      }
      @include md() {
        width: 90%;
        height: 80%;
        top: 40%;
        transform: translate(0%, -50%);
      }
      @include lg() {
        width: 100%;
        height: 100%;
        top: 50%;
        transform: translate(0%, -50%);
      }
      #titlesBox {
        position: absolute;
        display: flex;
        width: 100%;

        @include mobile-only() {
          height: 30%;
        }
        @include md() {
          height: 30%;
        }
        @include lg() {
          height: 30%;
        }
        // border: 2px solid blue;
        #titleWrapper {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 50%;
          top: 0%;
          // border: 1px solid red;
          .title {
            position: absolute;
            top: 40%;
            color: $yellow;

            font-weight: bold;
            @include mobile-only() {
              font-size: 3rem;
            }
            @include md() {
              font-size: 3.5rem;
            }
            @include lg() {
              font-size: 3.5rem;
            }
          }
        }
        #explainWrapper {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 50%;
          top: 47.5%;
          // border: 1px solid red;
          .explain {
            position: relative;

            color: $gray;
            @include mobile-only() {
              font-size: 1.5rem;
            }
            @include md() {
              font-size: 1.8rem;
            }
            @include lg() {
              font-size: 1.8rem;
            }
          }
        }
      }
      #exceptTitlesBox {
        position: absolute;
        width: 80%;
        height: 70%;
        // border: 2px solid blue;
        top: 30%;
        #emailWrapper {
          position: absolute;
          display: flex;
          width: 100%;
          height: 25%;
          top: 0%;
          // border: 1px solid orange;
          #titleWrapper {
            position: absolute;
            display: flex;
            align-items: center;
            width: 100%;
            height: 30%;
            top: 5%;
            font-weight: bold;
            // border: 1px solid red;
            .title {
              @include mobile-only() {
                font-size: 1.5rem;
              }
              @include md() {
                font-size: 1.8rem;
              }
              @include lg() {
                font-size: 1.8rem;
              }
            }
          }
          .email {
            position: absolute;
            display: flex;
            align-items: center;
            width: 100%;
            height: 50%;
            top: 40%;
            background-color: $gray2;
            border: 1px solid $gray;
            border-radius: 5px;
            font-size: 1.5rem;
            padding-left: 2%;
          }
        }
        #newPasswordWrapper {
          position: absolute;
          display: flex;
          width: 100%;
          height: 25%;
          top: 25%;
          // border: 1px solid orange;
          #titleWrapper {
            position: absolute;
            display: flex;
            align-items: center;
            width: 100%;
            height: 30%;
            top: 5%;
            font-weight: bold;
            // border: 1px solid red;
            .title {
              @include mobile-only() {
                font-size: 1.5rem;
              }
              @include md() {
                font-size: 1.8rem;
              }
              @include lg() {
                font-size: 1.8rem;
              }
            }
          }
          #inputWrapper {
            position: absolute;
            display: flex;
            align-items: center;
            width: 100%;
            height: 70%;
            top: 30%;
            // border: 1px solid red;
            .input {
              position: absolute;
              width: 100%;
              height: 71.43%;
              border: 1px solid $gray;
              border-radius: 5px;
              font-size: 1.5rem;
              padding-left: 2%;
            }
            .padlock {
              position: absolute;
              width: 1.5rem;
              height: 1.5rem;
              right: 2%;
            }
          }
        }
        #confirmPasswordWrapper {
          position: absolute;
          display: flex;
          width: 100%;
          height: 25%;
          top: 50%;
          // border: 1px solid orange;
          #titleWrapper {
            position: absolute;
            display: flex;
            align-items: center;
            width: 100%;
            height: 30%;
            top: 5%;
            font-weight: bold;
            // border: 1px solid red;
            .title {
              @include mobile-only() {
                font-size: 1.5rem;
              }
              @include md() {
                font-size: 1.8rem;
              }
              @include lg() {
                font-size: 1.8rem;
              }
            }
          }
          #inputWrapper {
            position: absolute;
            display: flex;
            align-items: center;
            width: 100%;
            height: 70%;
            top: 30%;
            // border: 1px solid red;
            .input {
              position: absolute;
              width: 100%;
              height: 71.43%;
              border: 1px solid $gray;
              border-radius: 5px;
              font-size: 1.5rem;
              padding-left: 2%;
            }
            .padlock {
              position: absolute;
              width: 1.5rem;
              height: 1.5rem;
              right: 2%;
            }
          }
        }
        #btnWrapper {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 25%;
          top: 75%;
          // border: 1px solid orange;
          .resetButton {
            position: relative;
            height: 50%;
            width: 45%;
            background-color: $yellow;
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            @include mobile-only() {
              font-size: 1.5rem;
            }
            @include md() {
              font-size: 1.8rem;
            }
            @include lg() {
              font-size: 1.8rem;
            }
          }
          .cancelButton {
            @extend .resetButton;
            background-color: $black;
          }
        }
      }
    }
  }
}
