#sideMenuModal {
  z-index: 12;
  position: fixed;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  // border: 3px solid red;
  @include mobile-only() {
    position: absolute;
    display: flex;
  }
  @include md() {
    position: fixed;
    display: flex;
  }
  @include lg() {
    z-index: -3;
    position: fixed;
    display: none;
  }
  #bg {
    z-index: 10;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #404040;
    // border: 3px solid red;
    opacity: 50%;
    @include mobile-only() {
      top: 30%;
      height: 70%;
    }
    @include md() {
      top: 30%;
      height: 70%;
    }
    @include lg() {
      top: 35%;
      height: 75%;
    }
    &Up {
      @extend #bg;
      top: 25%;
      height: 75%;
    }
  }
  #modalBox {
    z-index: 995;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #c4c4c4;
    // border: 1px solid red;
    @include mobile-only() {
      width: 100%;
      height: 20%;
      top: 10%;
    }
    @include md() {
      width: 100%;
      height: 20%;
      top: 10%;
    }
    @include lg() {
      width: 33%;
      height: 35%;
      top: 50%;
      transform: translate(0%, -50%);
    }
    #modal {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      bottom: 0%;
      // border: 1px solid red;
    }
  }
  #downedModalBox {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #c4c4c4;
    opacity: 100%;
    // border: 1px solid blue;
    @include mobile-only() {
      width: 100%;
      height: 25%;
      top: 0%;
    }
    @include md() {
      width: 100%;
      height: 25%;
      top: 0%;
    }
    @include lg() {
      width: 33%;
      height: 35%;
      top: 50%;
      transform: translate(0%, -50%);
      border-radius: 10px;
    }
    #downedModal {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 80%;
      bottom: 0%;
    }
  }
  #sidemenuWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0%;
    // border: 1px solid purple;
    .menus {
      z-index: 999;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      // border: 1px solid green;
      font-weight: bold;
      font-size: 1.8rem;
    }
  }
}
