#signUpModalContainer {
  z-index: 500;
  width: 100%;
  @include mobile-only() {
    position: absolute;
    top: 10%;
    height: 90%;
  }
  @include md() {
    position: fixed;
    height: 100%;
  }
  @include lg() {
    position: fixed;
    height: 100%;
  }
  #outside {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  #background {
    z-index: 501;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    @include mobile-only() {
    }
    @include md() {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include lg() {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #signUpModal {
      z-index: 502;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      // border: 1px solid red;
      @include mobile-only() {
        position: fixed;
        width: 100%;
        height: 90%;
      }
      @include md() {
        width: 60%;
        height: 78%;
        border-radius: 20px;
        // border: 3px solid purple;
      }
      @include lg() {
        width: 30%;
        height: 78%;
        border-radius: 20px;
        // border: 3px solid red;
      }
      #xButtonContainer {
        display: flex;
        justify-content: right;
        align-items: center;
        @include mobile-only() {
          width: 90%;
          height: 5%;
          img{
            width:10%;
            cursor: pointer;
          }
        }
        @include md() {
          display: none;
        }
        @include lg() {
          display: none;
        }
        // border: 2px solid purple;
      }
      #alignContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 87.5%;
        // border: 1px solid aqua;
        .fontMatch {
          font-weight: bold;
          @include mobile-only() {
            font-size: 1.5rem;
          }
          @include md() {
            font-size: 1.8rem;
          }
          @include lg() {
            font-size: 1.8rem;
          }
        }
        .textBoxMatch {
          display: flex;
          width: 70%;
          height: 5%;
          border: 1px solid $gray;
          border-radius: 5px;
        }
        #topBox {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 90%;
          height: 15%;
          margin-bottom: 2.5%;
          // border: 1px solid green;
          h2 {
            color: $yellow;
            @include mobile-only() {
              font-size: 3rem;
            }
            @include md() {
              font-size: 3.5rem;
            }
            @include lg() {
              font-size: 3.5rem;
            }
          }
          #goSignUp {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 85%;
            height: 50%;
            margin-top: 2.5%;
            // border: 1px solid purple;
            #no1 {
              color: $gray;
            }
            #no2 {
              color: $yellow;
              cursor: pointer;
            }
          }
        }
        #midBox {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 90%;
          height: 60%;
          // border: 1px solid red;
          .outerTextBox {
            width: 100%;
            height: 13%;
            .textBoxMatch2 {
              width: 100%;
              height: 100%;
            }
            #no0 {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-end;
              position: relative;
              top: -100%;
              left: 67.5%;
              width: 30%;
              height: 100%;
              // border: 1px solid blue;
              .Img {
                width: 20%;
                margin-right: 2.5%;
              }
              button {
                width: 80%;
                height: 75%;
                background-color: $yellow;
                color: gray;
                border: 0;
                border-radius: 5px;
                font-weight: bold;
                cursor: pointer;
                // border: 1px solid blue;
              }
            }
            #no1 {
              display: flex;
              align-items: center;
              position: relative;
              top: -100%;
              left: 90%;
              width: 6%;
              height: 100%;
              // border: 1px solid blue;
              .Img {
                width: 100%;
              }
            }
            #no2 {
              @extend #no1;
            }
          }
          .warningMsg {
            font-size: 1.2rem;
            color: red;
          }
          .duplicationMsg {
            font-size: 1.2rem;
            font-weight: bold;
            color: red;
          }
          .hidden {
            display: none;
          }
        }
        #bottomBox {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 90%;
          height: 23%;
          margin-top: 5%;
          // border: 1px solid blue;
          #agreeBox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 55%;
            // border: 1px solid pink;
            .agreeAll {
              font-weight: bold;
              @include mobile-only() {
                font-size: 1.4rem;
              }
              @include md() {
                font-size: 1.5rem;
              }
              @include lg() {
                font-size: 1.5rem;
              }
            }
            .agreeSub {
              font-weight: bold;
              cursor: pointer;
              @include mobile-only() {
                font-size: 1.4rem;
              }
              @include md() {
                font-size: 1.5rem;
              }
              @include lg() {
                font-size: 1.5rem;
              }
            }
            .agreeSub:hover{
              color: #ffce63
            }
            .checkBox {
              display: flex;
              align-items: center;
              width: 100%;
              height: 20%;
              // border: 1px solid orange;
              #check00 {
                position: absolute;

                @include mobile-only() {
                  left: 12%;
                }
                @include md() {
                  left: 26.5%;
                }
                @include lg() {
                  left: 38%;
                }
              }
              #check01 {
                @extend #check00;
              }
              #check02 {
                @extend #check00;
              }
              p {
                position: absolute;
                @include mobile-only() {
                  left: 20%;
                }
                @include md() {
                  left: 30%;
                }
                @include lg() {
                  left: 40%;
                }
              }
            }
          }
          #buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 25%;
            // border: 1px solid red;
            .fontMatch {
              font-weight: bold;
              @include mobile-only() {
                font-size: 1.5rem;
              }
              @include md() {
                font-size: 1.8rem;
              }
              @include lg() {
                font-size: 1.8rem;
              }
            }
            #signUpBtn {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 45%;
              height: 100%;
              background-color: $yellow;
              color: #fff;
              border: 0;
              border-radius: 5px;
              cursor: pointer;
            }
            #exitBtn {
              @extend #signUpBtn;
              background-color: $black;
            }
          }
        }
      }
    }
  }
}
