#TosModalContainer {
  z-index: 999;
  width: 100%;
  @include mobile-only() {
    position: absolute;
    top: 10%;
    height: 90%;
  }
  @include md() {
    position: fixed;
    height: 100%;
  }
  @include lg() {
    position: fixed;
    height: 100%;
  }
  #outside {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  #background {
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    @include mobile-only() {
    }
    @include md() {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include lg() {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #tosModal {
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      // border: 1px solid red;
      @include mobile-only() {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      @include md() {
        width: 25%;
        height: 68%;
        border-radius: 20px;
      }
      @include lg() {
        width: 25%;
        height: 68%;
        border-radius: 20px;
      }
      #alignContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 85%;
        // border: 1px solid aqua;
        .fontMatch {
          font-weight: bold;
          @include mobile-only() {
            font-size: 1.5rem;
          }
          @include md() {
            font-size: 1.3rem;
          }
          @include lg() {
            font-size: 1.5rem;
          }
        }
        .textBoxMatch {
          display: flex;
          width: 70%;
          height: 5%;
          border: 1px solid $gray;
          border-radius: 5px;
        }
        #topBox {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 90%;
          height: 10%;
          // border: 1px solid green;
          h2 {
            color: $yellow;
            @include mobile-only() {
              font-size: 2.0rem;
            }
            @include md() {
              font-size: 1.5rem;
            }
            @include lg() {
              font-size: 2.5rem;
            }
          }
        }
        #midBox {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          width: 90%;
          height: 70%;
          // border: 1px solid red;

          .textArea {
            width: 100%;
            height: 90%;
          }
        }
        #bottomBox {
          display: flex;
          justify-content: space-between;
          width: 90%;
          height: 8%;
          // border: 1px solid blue;
          .textBoxMatch3 {
            display: flex;
            width: 100%;
            height: 20%;
            border: 1px solid $gray;
            border-radius: 5px;
          }
          #back {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: $yellow;
            color: #fff;
            border: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}
