#conChinContainer {
  position: absolute;
  display: flex;
  width: 100%;
  // border: 1px solid red;
  @include mobile-only() {
    height: 130%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  @include md() {
    height: 150%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  @include lg() {
    height: 250%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  #conChinExceptFooter {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // border: 2px solid green;
    @include mobile-only() {
      width: 100%;
      height: 100%;
      top: 7.65%;
    }
    @include md() {
      width: 100%;
      height: 100%;
      top: 6.65%;
    }
    @include lg() {
      width: 75%;
      height: 100%;
      left: 50%;
      top: 4%;
      transform: translate(-50%, 0%);
    }
    #jumbotron {
      position: relative;
      display: flex;
      @include mobile-only() {
        width: 100%;
        height: 12%;
      }
      @include md() {
        width: 100%;
        height: 17%;
      }
      @include lg() {
        width: 100%;
        height: 16%;
      }
      // border:1px solid red;
    }
    #postingWrapper {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      transition: 0.5s all;
      @include mobile-only() {
        width: 95%;
        height: 80%;
        top: 12%;
        padding-top: 6%;
      }
      @include md() {
        width: 85%;
        height: 35%;
        top: 17%;
        padding-top: 4%;
      }
      @include lg() {
        width: 85%;
        height: 34%;
        top: 16%;
        padding-top: 3%;
      }
      // border: 1px solid red;
      &Chosen {
        @extend #postingWrapper;

        @include mobile-only() {
          width: 95%;
          height: 80%;
          top: 12%;
          padding-top: 6%;
        }
        @include md() {
          width: 85%;
          height: 35%;
          top: 17%;
          padding-top: 4%;
        }
        @include lg() {
          width: 85%;
          height: 15%;
          top: 16%;
          padding-top: 3%;
        }
      }
    }
    #articleWrapper {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      transition: 0.5s all;
      @include mobile-only() {
        width: 95%;
        height: 40.5%;
        top: 45.5%;
      }
      @include md() {
        width: 85%;
        height: 50%;
        top: 57%;
      }
      @include lg() {
        width: 85%;
        height: 50%;
        top: 50%;
      }
      // border: 1px solid blue;
      &Chosen {
        @extend #articleWrapper;

        @include mobile-only() {
          width: 95%;
          height: 40.5%;
          top: 45.5%;
        }
        @include md() {
          width: 85%;
          height: 50%;
          top: 57%;
        }
        @include lg() {
          width: 85%;
          height: 50%;
          top: 33%;
        }
      }
    }
  }
  #contentsWrapper {
    position: absolute;
    display: none;
    left: 50%;
    transform: translate(-50%, 0%);
    // border: 2px solid purple;
    @include mobile-only() {
      width: 0%;
      height: 0%;
    }
    @include md() {
      width: 0%;
      height: 0%;
    }
    @include lg() {
      width: 0%;
      height: 0%;
    }
    &Chosen {
      @extend #contentsWrapper;
      display: flex;
      @include mobile-only() {
        width: 93.5%;
        height: 60%;
        top: 106%;
      }
      @include md() {
        width: 85%;
        height: 65%;
        top: 118%;
      }
      @include lg() {
        width: 75%;
        height: 70%;
        top: 77%;
      }
    }
  }

  #fullFooter {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: black;
    @include mobile-only() {
      width: 100%;
      height: 22%;
      top: 175%;
    }
    @include md() {
      width: 100%;
      height: 19.5%;
      top: 190%;
    }
    @include lg() {
      width: 100%;
      height: 17.5%;
      top: 110%;
    }
    &Chosen {
      @extend #fullFooter;
      @include mobile-only() {
        top: 175%;
      }
      @include md() {
        top: 190%;
      }
      @include lg() {
        top: 150%;
      }
    }
    // border: 1px solid red;
    #footerWrapper {
      position: absolute;
      display: flex;

      background-color: black;
      // border: 1px solid red;
      @include mobile-only() {
        height: 100%;
        width: 100%;
      }
      @include md() {
        height: 100%;
        width: 90%;
      }
      @include lg() {
        height: 70%;
        width: 73%;
      }
    }
  }
}
