#conChinContainer {
  position: absolute;
  display: flex;
  width: 100%;
  // border: 1px solid red;
  @include mobile-only() {
    height: 100%;
  }
  @include md() {
    height: 150%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  @include lg() {
    height: 250%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  #conChinExceptFooter {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // border: 1px solid red;
    @include mobile-only() {
      width: 100%;
      height: 100%;
      top: 10%;
    }
    @include md() {
      width: 100%;
      height: 100%;
      left: 50%;
      top: 6.7%;
      transform: translate(-50%, 0%);
    }
    @include lg() {
      width: 75%;
      height: 100%;
      left: 50%;
      top: 4%;
      transform: translate(-50%, 0%);
    }
    #jumbotron {
      position: relative;
      display: flex;
      @include mobile-only() {
        width: 100%;
        height: 14%;
      }
      @include md() {
        width: 100%;
        height: 15%;
      }
      @include lg() {
        width: 100%;
        height: 16%;
      }
      // border:1px solid red;
    }
    #mainBox {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      height: 73%;
      margin-top: 1%;
      @include mobile-only() {
        width: 95%;
        height: 83%;
      }
      @include md() {
        width: 88%;
        height: 73%;
      }
      @include lg() {
        width: 80%;
        height: 73%;
      }
      // border:1px solid red;
    }
  }
  #fullFooter {
    position: absolute;
    display: flex;
    justify-content: center;

    background-color: black;
    @include mobile-only() {
      width: 100%;
      height: 25%;
      top: 195%;
    }
    @include md() {
      width: 100%;
      height: 18.5%;
      top: 185%;
    }
    @include lg() {
      width: 100%;
      height: 15.3%;
      top: 185%;
    }
    // border: 1px solid red;
    #footerWrapper {
      position: absolute;
      display: flex;

      background-color: black;
      // border: 1px solid red;
      @include mobile-only() {
        height: 100%;
        width: 75%;
      }
      @include md() {
        height: 100%;
        width: 100%;
      }
      @include lg() {
        height: 70%;
        width: 79%;
      }
    }
  }
}
