#landingContainer {
  @include mobile-only() {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
  }
  @include md() {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
  }
  @include lg {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
  }
  #landingJumboWrapper {
    @include mobile-only() {
      position: absolute;
      top: 0;
      width: 100%;
      height: 75%;
    }
    @include md() {
      position: absolute;
      top: 0;
      width: 100%;
      height: 60%;
    }
    @include lg() {
      position: absolute;
      top: 0;
      width: 100%;
      height: 80%;
    }
    #jumboContainer {
      @include mobile-only() {
        position: absolute;
        width: 100%;
        height: 55%;
        padding-bottom: 30%;
      }
      @include md() {
        position: absolute;
        width: 100%;
        height: 85%;
        padding-bottom: 20%;
      }
      @include lg() {
        position: absolute;
        width: 100%;
        height: 85%;
        padding-bottom: 20%;
      }
    }
    //--------문구---------//
    .jumboTextBox {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 60%;
      // border: 1px solid blue;
      @include mobile-only() {
        top: 5%;
        height: 8%;
      }
      @include md() {
        top: 5%;
        height: 18%;
      }
      @include lg() {
        top: 3%;
        height: 18%;
      }
    }

    #jumboWhat {
      color: #fff;
      @include mobile-only() {
        font-size: 1.3rem;
      }
      @include md() {
        font-size: 1.7rem;
      }
      @include lg() {
        font-size: 1.8rem;
      }
    }

    #jumboClassify {
      animation: rubberBand;
      animation-duration: 2s;
      color: #fff;
      @include mobile-only() {
        font-size: 2.5rem;
      }
      @include md() {
        font-size: 4.5rem;
      }
      @include lg() {
        font-size: 5rem;
      }
    }
    #jumboPosterSlideWrapper {
      // border: 1px solid #fff;
      @include mobile-only() {
        position: relative;
        top: 6%;
        width: 95%;
        height: 77%;
      }
      @include md() {
        position: relative;
        bottom: -3%;
        width: 90%;
        height: 77%;
      }
      @include lg() {
        position: relative;
        bottom: 0%;
        width: 80%;
        height: 77%;
      }
    }
  }

  /*---------------중간 박스---------------*/

  #middleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    // border: 3px solid red;
    overflow-x: hidden;
    overflow-y: hidden;
    @include mobile-only() {
      height: 250%;
      top: 50%;
    }
    @include md() {
      height: 350%;
      top: 60%;
    }
    @include lg() {
      height: 530%;
      top: 100%;
    }

    #firstImgAnimated {
      // border: 1px solid blue;
      @include mobile-only() {
        width: 85%;
        height: 14%;
      }
      @include md() {
        width: 80%;
        height: 14%;
      }
      @include lg() {
        width: 53%;
        height: 13%;
      }
      animation: moveToLeft 2s;
      animation-iteration-count: 1;
      -moz-animation: moveToLeft 2s; /* Firefox */
      -webkit-animation: moveToLeft 2s; /* Safari and Chrome */
      -o-animation: moveToLeft 2s; /* Opera */
      // -webkit-animation-fill-mode: both;
      animation-fill-mode: forwards;
      @keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
          opacity: 0%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-moz-keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
          opacity: 0%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-webkit-keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
          opacity: 0%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-o-keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
          opacity: 0%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
    }
    #firstImg {
      // border: 1px solid red;
      opacity: 0%;
      @include mobile-only() {
        width: 85%;
        height: 14%;
      }
      @include md() {
        width: 80%;
        height: 14%;
      }
      @include lg() {
        width: 53%;
        height: 13%;
      }
    }
    .alignBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0;
      // border: 1px solid pink;
      @include mobile-only() {
        width: 80%;
        height: 6%;
      }
      @include md() {
        width: 70%;
        height: 6%;
      }
      @include lg() {
        width: 60%;
        height: 10%;
      }
      #paddingBox {
        position: relative;
        @include mobile-only() {
          width: 32%;
          height: 100%;
        }
        @include md() {
          width: 32%;
          height: 100%;
          font-size: 1.5rem;
        }
        @include lg() {
          width: 48%;
          height: 100%;
          font-size: 2rem;
          padding-bottom: 10%;
        }
        .grayGif {
          position: absolute;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
          }
        }
      }
      #textBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        // border: 1px solid green;
        @include mobile-only() {
          width: 70%;
        }
        @include md() {
          width: 60%;
        }
        @include lg() {
          width: 60%;
        }
        #texts {
          font-weight: bold;
          @include mobile-only() {
            font-size: 1.2rem;
          }
          @include md() {
            font-size: 1.8rem;
          }
          @include lg() {
            font-size: 2.5rem;
          }
        }
      }
    }

    .alignBoxAnimated {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border: 1px solid pink;
      @include mobile-only() {
        width: 80%;
        height: 6%;
      }
      @include md() {
        width: 70%;
        height: 6%;
      }
      @include lg() {
        width: 60%;
        height: 10%;
      }
      #paddingBox {
        position: relative;
        @include mobile-only() {
          width: 32%;
          height: 100%;
        }
        @include md() {
          width: 32%;
          height: 100%;
          font-size: 1.5rem;
        }
        @include lg() {
          width: 48%;
          height: 100%;
          font-size: 2rem;
          padding-bottom: 10%;
        }
        .grayGif {
          position: absolute;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
          }
        }
      }
      #textBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        // border: 1px solid green;
        @include mobile-only() {
          width: 70%;
        }
        @include md() {
          width: 60%;
        }
        @include lg() {
          width: 60%;
        }
        #texts {
          font-weight: bold;
          @include mobile-only() {
            font-size: 1.2rem;
          }
          @include md() {
            font-size: 1.8rem;
          }
          @include lg() {
            font-size: 2.5rem;
          }
        }
      }
      animation: moveToRight 2s;
      -moz-animation: moveToRight 2s; /* Firefox */
      -webkit-animation: moveToRight 2s; /* Safari and Chrome */
      -o-animation: moveToRight 2s; /* Opera */
      animation-fill-mode: forwards;
      @keyframes moveToRight {
        from {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-moz-keyframes moveToRight {
        from {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-webkit-keyframes moveToRight {
        from {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-o-keyframes moveToRight {
        from {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
    }

    #paddingBox31 {
      position: relative;
      // border: 2px solid green;
      @include mobile-only() {
        width: 30%;
        height: 100%;
      }
      @include md() {
        width: 32%;
        height: 100%;
        font-size: 1.5rem;
      }
      @include lg() {
        width: 30%;
        height: 100%;
        font-size: 2rem;
        padding-bottom: 10%;
      }
      .grayGif {
        position: absolute;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
        }
      }
    }

    #secondImg {
      opacity: 0;
      // border: 1px solid orange;
      @include mobile-only() {
        width: 85%;
        height: 20%;
      }
      @include md() {
        width: 75%;
        height: 20%;
      }
      @include lg() {
        width: 44%;
        height: 15%;
      }
    }

    #secondImgAnimated {
      // border: 1px solid orange;
      @include mobile-only() {
        width: 85%;
        height: 20%;
      }
      @include md() {
        width: 75%;
        height: 20%;
      }
      @include lg() {
        width: 44%;
        height: 15%;
      }
      animation: moveToLeft 2s;
      -moz-animation: moveToLeft 2s; /* Firefox */
      -webkit-animation: moveToLeft 2s; /* Safari and Chrome */
      -o-animation: moveToLeft 2s; /* Opera */
      @keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
        }
        to {
          transform: translate(0, 0);
        }
      }
      @-moz-keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
        }
        to {
          transform: translate(0, 0);
        }
      }
      @-webkit-keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
        }
        to {
          transform: translate(0, 0);
        }
      }
      @-o-keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
        }
        to {
          transform: translate(0, 0);
        }
      }
    }

    .alignBox2Animated {
      // border: 1px solid blue;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mobile-only() {
        width: 80%;
        height: 6%;
      }
      @include md() {
        width: 70%;
        height: 6%;
      }
      @include lg() {
        width: 60%;
        height: 10%;
      }
      #paddingBox {
        position: relative;
        @include mobile-only() {
          width: 32%;
          height: 100%;
        }
        @include md() {
          width: 32%;
          height: 100%;
          font-size: 1.5rem;
        }
        @include lg() {
          width: 48%;
          height: 100%;
          font-size: 2rem;
          padding-bottom: 10%;
        }
        .grayGif {
          position: absolute;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
          }
        }
      }
      #textBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        // border: 1px solid green;
        @include mobile-only() {
          width: 70%;
        }
        @include md() {
          width: 60%;
        }
        @include lg() {
          width: 60%;
        }
        #texts {
          font-weight: bold;
          @include mobile-only() {
            font-size: 1.2rem;
          }
          @include md() {
            font-size: 1.8rem;
          }
          @include lg() {
            font-size: 2.5rem;
          }
        }
      }
      animation: moveToRight 2s;
      -moz-animation: moveToRight 2s; /* Firefox */
      -webkit-animation: moveToRight 2s; /* Safari and Chrome */
      -o-animation: moveToRight 2s; /* Opera */
      @keyframes moveToRight {
        from {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-moz-keyframes moveToRight {
        from {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-webkit-keyframes moveToRight {
        from {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-o-keyframes moveToRight {
        from {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
    }

    .alignBox2 {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0;
      @include mobile-only() {
        width: 80%;
        height: 6%;
      }
      @include md() {
        width: 70%;
        height: 6%;
      }
      @include lg() {
        width: 60%;
        height: 10%;
      }
      #paddingBox {
        position: relative;
        @include mobile-only() {
          width: 32%;
          height: 100%;
        }
        @include md() {
          width: 32%;
          height: 100%;
          font-size: 1.5rem;
        }
        @include lg() {
          width: 48%;
          height: 100%;
          font-size: 2rem;
          padding-bottom: 10%;
        }
        .grayGif {
          position: absolute;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
          }
        }
      }
      #textBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        // border: 1px solid green;
        @include mobile-only() {
          width: 70%;
        }
        @include md() {
          width: 60%;
        }
        @include lg() {
          width: 60%;
        }
        #texts {
          font-weight: bold;
          @include mobile-only() {
            font-size: 1.2rem;
          }
          @include md() {
            font-size: 1.8rem;
          }
          @include lg() {
            font-size: 2.5rem;
          }
        }
      }
    }

    #thirdImgAnimated {
      // border: 1px solid orange;

      @include mobile-only() {
        width: 85%;
        height: 20%;
      }
      @include md() {
        width: 75%;
        height: 20%;
      }
      @include lg() {
        width: 44%;
        height: 15%;
      }
      animation: moveToLeft 2s;
      -moz-animation: moveToLeft 2s; /* Firefox */
      -webkit-animation: moveToLeft 2s; /* Safari and Chrome */
      -o-animation: moveToLeft 2s; /* Opera */
      @keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-moz-keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-webkit-keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-o-keyframes moveToLeft {
        from {
          transform: translate(100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
    }

    #thirdImg {
      opacity: 0;
      // border: 1px solid blue;
      @include mobile-only() {
        width: 85%;
        height: 20%;
      }
      @include md() {
        width: 75%;
        height: 20%;
      }
      @include lg() {
        width: 44%;
        height: 15%;
      }
    }

    .alignBox3Animated {
      // border: 3px solid purple;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border: 1px solid pink;
      @include mobile-only() {
        width: 80%;
        height: 6%;
      }
      @include md() {
        width: 70%;
        height: 6%;
      }
      @include lg() {
        width: 60%;
        height: 10%;
      }
      #paddingBox {
        position: relative;
        @include mobile-only() {
          width: 32%;
          height: 100%;
        }
        @include md() {
          width: 32%;
          height: 100%;
          font-size: 1.5rem;
        }
        @include lg() {
          width: 48%;
          height: 100%;
          font-size: 2rem;
          padding-bottom: 10%;
        }
        .grayGif {
          position: absolute;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
          }
        }
      }
      #textBox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        // border: 1px solid green;
        @include mobile-only() {
          width: 70%;
        }
        @include md() {
          width: 60%;
        }
        @include lg() {
          width: 60%;
        }
        #texts {
          font-weight: bold;
          @include mobile-only() {
            font-size: 1.2rem;
          }
          @include md() {
            font-size: 1.8rem;
          }
          @include lg() {
            font-size: 2.5rem;
          }
        }
      }
      animation: moveToRight 2s;
      -moz-animation: moveToRight 2s; /* Firefox */
      -webkit-animation: moveToRight 2s; /* Safari and Chrome */
      -o-animation: moveToRight 2s; /* Opera */
      @keyframes moveToRight {
        from {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-moz-keyframes moveToRight {
        from {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-webkit-keyframes moveToRight {
        ffrom {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
      @-o-keyframes moveToRight {
        from {
          transform: translate(-100%, 0);
          opacity: 20%;
        }
        to {
          transform: translate(0, 0);
          opacity: 100%;
        }
      }
    }

    .alignBox3 {
      opacity: 0;
    }
  }

  #bottomBox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $yellow;
    // border: 1px solid green;
    @include mobile-only() {
      height: 20%;
      top: 310%;
    }
    @include md() {
      height: 30%;
      top: 420%;
    }
    @include lg() {
      height: 40%;
      top: 640%;
    }
    #bottomAlignBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      // border: 1px solid red;
      @include mobile-only() {
        height: 60%;
      }
      @include md() {
        height: 55%;
      }
      @include lg() {
        height: 50%;
      }
      #bottomTextBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-weight: bold;
        @include mobile-only() {
          font-size: 1.5rem;
        }
        @include md() {
          font-size: 2.3rem;
        }
        @include lg() {
          font-size: 2.5rem;
        }
      }
      #goBtn {
        height: 25%;
        border: 0;
        background-color: #fff;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-weight: bold;
        animation: moveRightLeft 2s;
        -moz-animation: moveRightLeft 2s; /* Firefox */
        -webkit-animation: moveRightLeft 2s; /* Safari and Chrome */
        -o-animation: moveRightLeft 2s; /* Opera */
        animation-iteration-count: infinite;
        @keyframes moveRightLeft {
          0% {
            transform: translate(-2%, 0);
          }
          50% {
            transform: translate(2%, 0);
          }
          100% {
            transform: translate(-2%, 0);
          }
        }
        @-moz-keyframes moveRightLeft {
          0% {
            transform: translate(-2%, 0);
          }
          50% {
            transform: translate(2%, 0);
          }
          100% {
            transform: translate(-2%, 0);
          }
        }
        @-webkit-keyframes moveRightLeft {
          0% {
            transform: translate(-2%, 0);
          }
          50% {
            transform: translate(2%, 0);
          }
          100% {
            transform: translate(-2%, 0);
          }
        }
        @-o-keyframes moveRightLeft {
          0% {
            transform: translate(-2%, 0);
          }
          50% {
            transform: translate(2%, 0);
          }
          100% {
            transform: translate(-2%, 0);
          }
        }
        @include mobile-only() {
          width: 40%;
          font-size: 1.2rem;
        }
        @include md() {
          width: 30%;
          font-size: 2rem;
        }
        @include lg() {
          width: 30%;
          font-size: 2rem;
        }
      }
    }
  }
  #fullFooter {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: black;
    @include mobile-only() {
      width: 100%;
      height: 30%;
      top: 330%;
    }
    @include md() {
      width: 100%;
      height: 30%;
      top: 450%;
    }
    @include lg() {
      width: 100%;
      height: 38%;
      top: 680%;
    }
    // border: 1px solid red;
    #landingFooterWrapper {
      position: absolute;
      display: flex;

      background-color: black;
      // border: 1px solid red;
      @include mobile-only() {
        height: 100%;
        width: 100%;
      }
      @include md() {
        height: 100%;
        width: 100%;
      }
      @include lg() {
        height: 70%;
        width: 79%;
      }
    }
  }
}
