#landingContainer {
  @include mobile-only() {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
  }
  @include lg {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
  }
  #landingJumboWrapper {
    @include mobile-only() {
      position: absolute;
      top: 0;
      width: 100%;
      height: 75%;
    }
    @include lg() {
      position: absolute;
      top: 0;
      width: 100%;
      height: 65%;
    }
    #jumboContainer {
      @include mobile-only() {
        position: absolute;
        width: 100%;
        height: 55%;
        padding-bottom: 30%;
      }
      @include lg() {
        position: absolute;
        width: 100%;
        height: 85%;
        padding-bottom: 20%;
      }
      #jumboMiniContainer {
        @include mobile-only() {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.9);
        }
        @include lg() {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.9);
        }
        #jumboChosen {
          opacity: 30%;
          @include mobile-only() {
            width: 40%;
            height: 85%;
          }
          @include lg() {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20%;
            height: 90%;
            opacity: 40%;
          }
        }
      }
    }

    .jumboTextBox {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 60%;
      @include mobile-only() {
        top: 10%;
        height: 8%;
      }
      @include md() {
        top: 5%;
        height: 18%;
      }
      @include lg() {
        top: 5%;
        height: 18%;
      }
    }

    #jumboWhat {
      color: #fff;
      @include mobile-only() {
        font-size: 1.3rem;
      }
      @include md() {
        font-size: 1.8rem;
      }
      @include lg() {
        font-size: 1.8rem;
      }
    }

    #jumboClassify {
      color: #fff;
      @include mobile-only() {
        font-size: 2.5rem;
      }
      @include md() {
        font-size: 5rem;
      }
      @include lg() {
        font-size: 5rem;
      }
    }

    #jumboPosterSlideWrapper {
      @include mobile-only() {
        position: relative;
        bottom: -5%;
        width: 80%;
        height: 77%;
      }
      @include lg() {
        position: relative;
        bottom: -2%;
        width: 80%;
        height: 77%;
      }
    }
  }
  /*중간 박스*/
  #middleWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // border: 1px solid red;
    @include mobile-only() {
      height: 200%;
      top: 45%;
    }
    @include md() {
      height: 260%;
      top: 70%;
    }
    @include lg() {
      height: 300%;
      top: 70%;
    }
    #firstBox {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      // border: 1px solid blue;
      @include mobile-only() {
        height: 24%;
      }
      @include md() {
        height: 30%;
      }
      @include lg() {
        height: 30%;
      }
      #firstImg {
        @include mobile-only() {
          width: 90%;
        }
        @include md() {
          width: 60%;
        }
        @include lg() {
          width: 58%;
          height: 65%;
        }
      }
      .alignBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 1px solid pink;
        @include mobile-only() {
          width: 80%;
          height: 30%;
          font-size: 1.1rem;
        }
        @include md() {
          width: 45%;
          height: 20%;
        }
        @include lg() {
          width: 45%;
          height: 25%;
          font-size: 1.5rem;
        }
        .grayGif {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          background-color: $gray;
          border-radius: 5px;
          font-weight: bold;
          @include mobile-only() {
            width: 30%;
          }
          @include md() {
            width: 25%;
            font-size: 2rem;
          }
          @include lg() {
            width: 25%;
            font-size: 2rem;
          }
        }
        #textBox {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 90%;
          // border: 1px solid green;
          @include mobile-only() {
            width: 70%;
          }
          @include md() {
            width: 60%;
          }
          @include lg() {
            width: 60%;
          }
          #texts {
            font-weight: bold;
            @include mobile-only() {
              font-size: 1.2rem;
            }
            @include md() {
              font-size: 2.5rem;
            }
            @include lg() {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
    .grayGif2 {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray;
      border-radius: 5px;
      font-weight: bold;
      @include mobile-only() {
        width: 30%;
        height: 68%;
      }
      @include md() {
        width: 25%;
        height: 100%;
        font-size: 2rem;
      }
      @include lg() {
        width: 25%;
        height: 100%;
        font-size: 2rem;
      }
    }
    #secondBox {
      @extend #firstBox;
      @include mobile-only() {
        height: 35%;
      }
      #secondImg {
        @include mobile-only() {
          width: 60%;
          height: 60%;
        }
        @include md() {
          width: 40%;
          height: 70%;
        }
        @include lg() {
          width: 35%;
          height: 65%;
        }
      }

      .alignBox {
      }
    }
    #thirdBox {
      @extend #firstBox;
      @include mobile-only() {
        height: 35%;
      }
      #thirdImg {
        @include mobile-only() {
          width: 60%;
          height: 60%;
        }
        @include md() {
          width: 40%;
          height: 70%;
        }
        @include lg() {
          width: 35%;
          height: 65%;
        }
      }
      .alignBox {
        .grayGif3 {
          @extend .grayGif2;
        }
      }
    }
  }
  #bottomBox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $yellow;
    // border: 1px solid green;
    @include mobile-only() {
      height: 20%;
      top: 255%;
    }
    @include md() {
      height: 40%;
      top: 380%;
    }
    @include lg() {
      height: 40%;
      top: 380%;
    }
    #bottomAlignBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      // border: 1px solid red;
      @include mobile-only() {
        height: 60%;
      }
      @include lg() {
        height: 50%;
      }
      #bottomTextBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-weight: bold;
        @include mobile-only() {
          font-size: 1.5rem;
        }
        @include md() {
          font-size: 2.5rem;
        }
        @include lg() {
          font-size: 2.5rem;
        }
      }
      button {
        height: 25%;
        border: 0;
        background-color: #fff;
        border-radius: 5px;
        font-weight: bold;
        @include mobile-only() {
          width: 40%;
          font-size: 1.2rem;
        }
        @include md() {
          width: 30%;
          font-size: 2rem;
        }
        @include lg() {
          width: 30%;
          font-size: 2rem;
        }
      }
    }
  }
  #landingFooterWrapper {
    position: absolute;
    width: 100%;
    height: 30%;
    @include mobile-only() {
      top: 275%;
    }
    @include md() {
      top: 420%;
    }
    @include lg() {
      top: 420%;
    }
  }
}
