@include mobile-only {
  #mainContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
  }
  #mainJumboWrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75%;
  }
  #mainConcertInfoWrapper {
    position: absolute;
    top: 41.2%;
    width: 100%;
    height: 70%;
    // border: 2px solid red;
  }
  #mainCommentWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 111%;
    width: 100%;
    height: 40%;
    // border: 1px solid green;
  }
  #mainFindConchinWrapper {
    position: absolute;
    top: 151%;
    width: 100%;
    height: 40%;
    // border: 1px solid red;
  }
  #mainFooterWrapper {
    position: absolute;
    top: 191%;
    width: 100%;
    height: 33%;
  }
}
@include lg() {
  #mainContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
  }
  #mainJumboWrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 65%;
    // border: 1px solid red;
  }
  #mainConcertInfoWrapper {
    position: absolute;
    top: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
    // border: 2px solid blue;
  }

  #mainCommentWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 160%;
    width: 65%;
    height: 70%;
    // border: 1px solid red;
    #paginationWrapper {
      position: absolute;
      display: flex;
      align-items: center;
      width: 90%;
      height: 20%;
      bottom: -5%;
      // border:1px solid red;
      @include mobile-only() {
        top: 85%;
        height: 20%;
      }
      @include lg() {
        top: 87%;
        height: 25%;
      }
    }
  }
  #mainFindConchinWrapper {
    position: absolute;
    top: 230%;
    width: 100%;
    height: 80%;
    // border: 2px solid green;
  }
  #mainFooterWrapper {
    position: absolute;
    top: 310%;
    width: 100%;
    height: 30%;
  }
}
