#mainContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  @include mobile-only() {
  }
  @include md() {
    display: flex;
    justify-content: center;
  }
  @include lg() {
    display: flex;
    justify-content: center;
  }
  #mainJumboWrapper {
    position: absolute;
    top: 0;

    @include mobile-only() {
      height: 75%;
      width: 100%;
    }
    @include md() {
      height: 65%;
      width: 100%;
    }
    @include lg() {
      height: 80%;
      width: 100%;
    }
  }
  #mainConcertInfoWrapper {
    position: absolute;
    width: 100%;
    // border: 2px solid red;
    @include mobile-only() {
      top: 41.2%;
      height: 70%;
    }
    @include md() {
      top: 55%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80%;
    }
    @include lg() {
      top: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 95%;
    }
  }
  #mainCommentWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid green;
    @include mobile-only() {
      top: 135%;
      width: 100%;
      height: 60%;
    }
    @include md() {
      top: 137%;
      width: 80%;
      height: 45%;
    }
    @include lg() {
      top: 172.5%;
      width: 65%;
      height: 90%;
    }
  }
  #mainPaginationWrapper {
    z-index: 7;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
    // border: 1px solid red;
    @include mobile-only() {
      top: 190%;
    }
    @include md() {
      top: 190%;
    }
    @include lg() {
      top: 250%;
    }
  }
  #mainFindConchinWrapper {
    position: absolute;
    width: 100%;
    // border: 1px solid red;
    @include mobile-only() {
      top: 200%;
      height: 40%;
    }
    @include md() {
      top: 195%;
      height: 60%;
    }
    @include lg() {
      top: 255%;
      height: 90%;
    }
  }
  #fullFooter {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: black;
    @include mobile-only() {
      width: 100%;
      height: 30%;
      top: 250%;
    }
    @include md() {
      width: 100%;
      height: 30%;
      top: 260%;
    }
    @include lg() {
      width: 100%;
      height: 38%;
      top: 350%;
    }
    // border: 1px solid red;
    #mainFooterWrapper {
      position: absolute;
      display: flex;

      background-color: black;
      // border: 1px solid red;
      @include mobile-only() {
        height: 100%;
        width: 100%;
      }
      @include md() {
        height: 100%;
        width: 100%;
      }
      @include lg() {
        height: 70%;
        width: 79%;
      }
    }
  }
}
