#myEditPage {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  top: 10%;
  // border: 3px solid red;
  @include mobile-only() {
    height: 180%;
  }
  @include md() {
    height: 180%;
  }
  @include lg() {
    height: 227%;
  }

  /***** 공통 *****/
  #titleWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 50%;
    top: 0%;
  }
  // border: 1px solid red;
  .title {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    font-weight: bold;
    @include mobile-only() {
      font-size: 1.5rem;
    }
    @include md() {
      font-size: 2rem;
    }
    @include lg() {
      font-size: 2.5rem;
    }
  }
  /***** 공통 *****/

  #profileBoxWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    // border: 2px solid green;
    @include mobile-only() {
      height: 33.33%;
    }
    @include md() {
      height: 33.33%;
    }
    @include lg() {
      height: 33.33%;
    }
  }
  #userInfoWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    // border: 2px solid blue;
    @include mobile-only() {
      top: 27%;
      height: 50%;
    }
    @include md() {
      top: 26%;
      height: 70%;
    }
    @include lg() {
      top: 26%;
      height: 66.67%;
    }
    #userInfoBox {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      // border: 1px solid red;
      @include mobile-only() {
        width: 80%;
        height: 90%;
      }
      @include md() {
        width: 60%;
        height: 80%;
      }
      @include lg() {
        width: 40%;
        height: 80%;
      }

      #emailWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
        top: 0%;
        // border: 1px solid red;
        #email {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: left;
          width: 100%;
          height: 30%;
          top: 60%;
          padding-left: 2%;
          background-color: $gray2;
          border: none;
          border-radius: 5px;
          @include mobile-only() {
            font-size: 1.3rem;
          }
          @include md() {
            font-size: 1.8rem;
          }
          @include lg() {
            font-size: 2rem;
          }
        }
      }
      #nickNameWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
        top: 20%;
        // border: 1px solid red;
        #nickNameBox {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 50%;
          top: 50%;
          #nickName {
            position: absolute;
            height: 60%;
            width: 100%;
            border: 1px solid $gray2;
            border-radius: 5px;
            padding-left: 2%;
            @include mobile-only() {
              font-size: 1.3rem;
            }
            @include md() {
              font-size: 1.8rem;
            }
            @include lg() {
              font-size: 2rem;
            }
          }
          // 중복확인 버튼
          #duplicationCheck {
            z-index: 100;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 12%;
            height: 33%;
            right: 2%;
            color: white;
            font-size: 1.7rem;
            border-radius: 5px;
            font-weight: bold;
            background-color: black;
            @include mobile-only() {
              width: 15%;
              height: 36%;
              font-size: 1.0rem;
            }
            @include md() {
              width: 15%;
              height: 36%;
              font-size: 1.3rem;
            }
            @include lg() {
              font-size: 1.7rem;
            }
            &:hover {
              background-color: #ffce63;
              color: white;
              cursor: pointer;
              transition: 0.15s all;
              border: none;
            }
          }
          #checkImg {
            position: absolute;
            
            @include mobile-only() {
              left: 75.5%;
              width: 5.5%;
              height: 31%;
            }
            @include md() {
              left: 75%;
              width: 5.5%;
              height: 30%;
            }
            @include lg() {
              left: 76%;
              width: 5%;
              height: 32%;
            }
          }
          #hidden {
            display: none;
          }
        }
        #nicknameErr{
          position: absolute;
          left: 2%;
          top: 92%;
          color: red;
          // font-weight: bold;
          
          @include mobile-only() {
            font-size: 1.0rem;
          }
          @include md() {
            font-size: 1.5rem;
          }
          @include lg() {
            font-size: 1.5rem;
          }
        }
        #nicknameErrHidden {
          display: none;
        }
        #nicknamePass {
          position: absolute;
          left: 2%;
          top: 92%;
          color: blue;
          @include mobile-only() {
            font-size: 1.0rem;
          }
          @include md() {
            font-size: 1.5rem;
          }
          @include lg() {
            font-size: 1.5rem;
          }
        }
      }
      #resetBox {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
        top: 40%;
        // border: 1px solid red;
        .reset {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: left;
          width: 100%;
          height: 30%;
          top: 60%;
          padding-left: 2%;
          border: 1px solid $gray2;
          border-radius: 5px;
          @include mobile-only() {
            font-size: 1.3rem;
          }
          @include md() {
            font-size: 1.8rem;
          }
          @include lg() {
            font-size: 2rem;
          }
        }
        #passwordErr{
          position: absolute;
          left: 2%;
          top: 92%;
          color: red;
          // font-weight: bold;
          
          @include mobile-only() {
            font-size: 1.0rem;
          }
          @include md() {
            font-size: 1.5rem;
          }
          @include lg() {
            font-size: 1.5rem;
          }
        }
        #passwordPass {
          position: absolute;
          left: 2%;
          top: 92%;
          color: blue;
          @include mobile-only() {
            font-size: 1.0rem;
          }
          @include md() {
            font-size: 1.8rem;
          }
          @include lg() {
            font-size: 1.5rem;
          }
        }
      }
      #confirmBox {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
        top: 60%;
        // border: 1px solid red;

        .confirm {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: left;
          width: 100%;
          height: 29.64%;
          top: 60%;
          padding-left: 2%;
          border: 1px solid $gray2;
          border-radius: 5px;
          @include mobile-only() {
            font-size: 1.3rem;
          }
          @include md() {
            font-size: 1.8rem;
          }
          @include lg() {
            font-size: 2rem;
          }
        }
        #confirmPasswordErr{
          position: absolute;
          left: 2%;
          top: 92%;
          color: red;
          // font-weight: bold;
          
          @include mobile-only() {
            font-size: 1.0rem;
          }
          @include md() {
            font-size: 1.5rem;
          }
          @include lg() {
            font-size: 1.5rem;
          }
        }
        #confirmPasswordPass {
          position: absolute;
          left: 2%;
          top: 92%;
          color: blue;
          @include mobile-only() {
            font-size: 1.0rem;
          }
          @include md() {
            font-size: 1.8rem;
          }
          @include lg() {
            font-size: 1.5rem;
          }
        }
      }
      #btnBox {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
        top: 80%;
        // border: 1px solid red;
        #btnWrapper {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 50%;
          width: 90%;
          // border: 1px solid red;
          .completeBtn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            height: 60%;
            background-color: $yellow;
            border: none;
            border-radius: 5px;
            color: white;
            &:hover {
              cursor: pointer;
            }
            @include mobile-only() {
              font-size: 1.3rem;
            }
            @include md() {
              font-size: 1.8rem;
            }
            @include lg() {
              font-size: 2rem;
            }
            font-weight: bold;
          }
          .cancelBtn {
            @extend .completeBtn;
            background-color: $black;
            &:hover {
              background-color: #ffce63;
              color: white;
              cursor: pointer;
              transition: 0.15s all;
              border: none;
            }
          }
        }
      }
    }
  }

  #fullFooter {
    position: absolute;
    display: flex;
    justify-content: center;

    background-color: black;
    @include mobile-only() {
      width: 100%;
      height: 15.3%;
      top: 82%;
    }
    @include md() {
      width: 100%;
      height: 15.9%;
      top: 104%;
    }
    @include lg() {
      width: 100%;
      height: 18%;
      top: 95%;
    }
    // border: 1px solid red;
    #footerWrapper {
      position: absolute;
      display: flex;

      background-color: black;
      // border: 1px solid red;
      @include mobile-only() {
        height: 100%;
        width: 100%;
      }
      @include md() {
        height: 100%;
        width: 90%;
      }
      @include lg() {
        height: 70%;
        width: 73%;
      }
    }
  }

  #resignBtn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    // border: 2px solid red;

    
    @include mobile-only() {
      bottom: 1.4%;

    }
    @include md() {
      bottom: 3%;

    }
    @include lg() {
      bottom: 5%;

    }   
    
   
  #resignBtnMessage{
    // border: 2px solid blue;
    transition: 0.5s;

    @include mobile-only() {
      display: flex;
      white-space: nowrap;
      word-break:break-all;

      width: 100vw;
      font-size: 1.0rem;
      background: linear-gradient(currentColor 0 0)
      0 100% /var(--d, 0) 1.2px
      no-repeat;
    }
    @include md() {
      display: flex;
      white-space: nowrap;
      word-break:break-all;

      width: 100vw;
      font-size: 1.7rem;
      background: linear-gradient(currentColor 0 0)
      0 100% /var(--d, 0) 2.3px
      no-repeat;
    }
    @include lg() {
      display: flex;
      white-space: nowrap;
      word-break:break-all;

      width: 100vw;
      font-size: 2.0rem;
      background: linear-gradient(currentColor 0 0)
      0 100% /var(--d, 0) 2.7px
      no-repeat;
    }    
    &:hover{
      cursor: pointer;
      --d: 100%;
    }

  }
  #resignArrowImg{
    position: relative;
    margin-left: 0.5%;
    // width: 2%;

    @include mobile-only() {
      width: 4%;
    }
    @include md() {
      width: 3%;
      // bottom: -10%;
    }
    @include lg() {
      width: 2%
    }
  }
}
}


