html {
  font-size: 10px;
}

/* 스크롤바 CSS */
a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  cursor: pointer;
  &:hover {
    color: $yellow;
    transition: 0.15s all;
  }
}
