#concertModalContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid blue;
  z-index: 9;
  @include mobile-only() {
    width: 100%;
    height: 100%;
    position: fixed;
  }
  @include md() {
    width: 100%;
    height: 100%;
    position: fixed;
  }
  @include lg() {
    width: 37.5%;
    height: 100%;
    top: 17.5%;
    left: 50%;
    position: absolute;
  }
  #background {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    @include mobile-only() {
    }
    @include md() {
    }
    @include lg() {
      display: none;
    }
  }
  #concertModal {
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    // border: 1px solid red;
    @include mobile-only() {
      width: 90%;
      height: 70%;
    }
    @include md() {
      width: 70%;
      height: 85%;
    }
    @include lg() {
      width: 90%;
      height: 100%;
      display: flex;
    }
    #closeBox {
      cursor: pointer;
      // border: 1px solid blue;
      @include mobile-only() {
        width: 90%;
        height: 4%;
      }
      @include md() {
        width: 90%;
        height: 4%;
      }
      @include lg() {
        display: none;
      }
      img {
        position: absolute;
        top: 2%;
        right: 4%;
        width: 6%;
      }
    }
    #AlignBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 3px solid green;
      @include mobile-only() {
        width: 90%;
        height: 90%;
      }
      @include md() {
        width: 90%;
        height: 90%;
      }
      @include lg() {
        width: 100%;
        height: 100%;
      }
      #top_box {
        position: relative;
        width: 100%;
        height: 12.5%;
        // border: 1px solid blue;
        #titleAndDay {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 60%;
          // border: 1px solid purple;
          h2 {
            display: flex;
            align-items: center;
            width: 85%;
            height: 100%;
            @include mobile-only() {
              font-size: 1.3rem;
            }
            @include md() {
              font-size: 1.8rem;
            }
            @include lg() {
              font-size: 2rem;
            }
          }
          p {
            display: flex;
            align-items: center;
            justify-content: right;
            width: 15%;
            height: 100%;
            // border: 1px solid purple;
            font-weight: bold;
            color: $gray;
            @include mobile-only() {
              font-size: 1.8rem;
            }
            @include md() {
              font-size: 2.5rem;
            }
            @include lg() {
              font-size: 2.5rem;
            }
          }
        }
        #whereAndDate {
          display: flex;
          align-items: center;
          width: 100%;
          height: 40%;
          .whereWrapper {
            display: flex;
            align-items: center;
            width: 30%;
            height: 70%;
            // border: 1px solid purple;
            #where {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 1.5%;
              width: 50%;
              height: 100%;
              background-color: $yellow;
              border-radius: 5px;
              color: #fff;
              font-weight: bold;
              @include mobile-only() {
                font-size: 1rem;
              }
              @include md() {
                font-size: 1.25rem;
              }
              @include lg() {
                font-size: 1.5rem;
              }
            }
          }
          .dateWrapper {
            display: flex;
            // align-items: top;
            justify-content: right;
            width: 70%;
            height: 70%;
            color: gray;
            // font-weight: bold;
            // border: 1px solid purple;
            #date {
              // border: 1px solid red;
              // padding-left: 1%;
              @include mobile-only() {
                font-size: 1rem;
              }
              @include md() {
                font-size: 1.3rem;
              }
              @include lg() {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
      #mid_box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 30%;
        overflow: hidden;
        // border: 1px solid hotpink;
        .posterWrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 1px solid hotpink;
          height: 100%;
          width: 30%;
          #poster {
            width: 100%;
            height: 100%;
          }
        }
        
        #right-side {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          width: 65%;
          height: 90%;
          // border: 1px solid purple;
          #conInfo {
            display: flex;
            width: 100%;
            height: 80%;
            #miniTitle {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 30%;
              height: 100%;
              font-weight: bold;
              @include mobile-only() {
                font-size: 1.15rem;
              }
              @include md() {
                font-size: 1.4rem;
              }
              @include lg() {
                font-size: 1.8rem;
              }
              p {
                justify-content: left;
                align-items: center;
                height: 15%;
                // border: 1px solid blue;
              }
              
            }
            #answer {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 70%;
              height: 100%;
              // border: 1px solid red;
              @include mobile-only() {
                font-size: 1.05rem;
              }
              @include md() {
                font-size: 1.3rem;
              }
              @include lg() {
                font-size: 1.6rem;
              }
              p {
                justify-content: left;
                align-items: center;
                height: 15%;
                text-overflow:ellipsis;
                white-space:nowrap;
                word-wrap:normal;
                overflow:hidden;
                // border: 1px solid blue;
              }
            }
          }
          #more {
            display: flex;
            width: 100%;
            background-color: $yellow;
            border: 0;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            @include mobile-only() {
              font-size: 1.2rem;
              height: 13%;
            }
            @include md() {
              font-size: 1.5rem;
              height: 14%;
            }
            @include lg() {
              font-size: 1.8rem;
              height: 14%;
            }
          }
        }
      }
      #bottom_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 5%;
        height: 55%;
        
        // border: 1px solid black;
        h1 {
          @include mobile-only() {
            font-size: 2rem;
            color: $yellow;
          }
          @include md() {
            font-size: 2.5rem;
            color: $yellow;
          }
          @include lg() {
            font-size: 2.5rem;
            color: $yellow;
          }
          
        }
        
        #noMap {
          opacity: 50%;
          @include mobile-only() {
            height: 80%;
          }
          @include md() {
            height: 80%;
          }
          @include lg() {
            width: 100%;
            height: 80%;
          }
        }

        #map {
          height: 80%;
          @include mobile-only() {
            border: 3px solid $yellow;
            border-radius: 15px;
          }
          @include md() {
            border: 3px solid $yellow;
            border-radius: 20px;
            // opacity: 50%;
          }
          @include lg() {
            border: 5px solid $yellow;
            border-radius: 30px;
            // opacity: 50%;
          }
        }
      }
    }
  }
}
