#FooterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: black;
  @include mobile-only() {
    height: 100%;
  }
  @include md() {
    height: 100%;
  }
  @include lg() {
    height: 130%;
  }
  .team_members {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid aqua;
    @include mobile-only() {
      width: 95%;
      height: 60%;
    }
    @include md() {
      width: 70%;
      height: 60%;
    }
    @include lg() {
      width: 57%;
      height: 60%;
    }
    .profiles {
      display: flex;
      width: 100%;
      height: 100%;
      // border: 2px solid green;
      .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        // border: 1px solid purple;
        @include mobile-only() {
          width: 25%;
        }
        @include md() {
          width: 25%;
        }
        @include lg() {
          width: 25%;
        }
        #paddingBox {
          // border: 1px solid orange;
          @include mobile-only() {
            width: 30%;
            height: 30%;
            padding-bottom: 2%;
          }
          @include md() {
            width: 30%;
            height: 30%;
            padding-bottom: 2%;
          }
          @include lg() {
            width: 28%;
            height: 28%;
            padding-bottom: 2%;
          }
          #github {
            width: 100%;
            height: 100%;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 55%;
          // border: 1px solid yellow;
          color: #fff;
          text-align: center;
          @include mobile-only() {
            font-size: 1.1rem;
          }
          @include md {
            font-size: 1.4rem;
          }
          @include lg {
            font-size: 1.8rem;
          }
          .name {
            font-weight: bold;
          }
          .role {
            color: $yellow;
          }
        }
      }
    }
  }
  .badges {
    display: flex;
    justify-content: space-between;
    // border: 1px solid #fff;
    @include mobile-only() {
      width: 20%;
      height: 15%;
    }
    @include md() {
      width: 12%;
      height: 15%;
    }
    @include lg() {
      width: 9%;
      height: 15%;
    }
    #youtube {
      width: 35%;
      height: 90%;
    }
    #insta {
      width: 35%;
      height: 90%;
    }
  }
  #copyright {
    color: #fff;
    text-align: center;
    width: 50%;
    height: 10%;
    @include mobile-only() {
      font-size: 1.2rem;
    }
    @include md {
      font-size: 1.4rem;
    }
    @include lg {
      font-size: 1.6rem;
    }
    // border: 1px solid #fff;
  }
}
