#headerContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 5%;
  background-color: white;
  @include mobile-only() {
    z-index: 15;
  }
  @include md() {
    z-index: 15;
  }
  @include lg() {
    z-index: 15;
  }
  // border: 1px solid red;
  #firstHiddenBar {
    z-index: 20;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0%;
    height: 80%;
    background-color: $yellow;
    color: white;
    // border: 1px solid red;
    font-weight: bold;
    transition: 0.15s all;
    @include mobile-only() {
      font-size: 1.5rem;
    }
    @include md() {
      font-size: 1.5rem;
    }
    @include lg() {
      font-size: 1.8rem;
    }
  }
  #hiddenBar {
    z-index: 20;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0%;
    height: 50%;
    // border: 1px solid red;
    color: rgba(255, 255, 255, 0%);
    font-weight: bold;
    transition: 0.25s all;
    @include mobile-only() {
      font-size: 1.5rem;
    }
    @include md() {
      font-size: 1.5rem;
    }
    @include lg() {
      font-size: 1.8rem;
    }
    &:hover {
      position: relative;
      height: 80%;
      background-color: $yellow;
      transition: 0.5s all;

      @include mobile-only() {
        font-size: 1.5rem;
        color: white;
      }
      @include md() {
        font-size: 1.5rem;
        color: white;
      }
      @include lg() {
        font-size: 1.8rem;
        color: white;
      }
    }
  }
  #logoBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 100%;
    // border: 0.5px solid blue;
    .logo {
      z-index: 16;
      position: relative;
      display: flex;
      top: 200%;
      left: 50%;
      transform: translate(-50%, 25%);
      transition: 0.7s all;
      // border: 1px solid green;
      @include mobile-only() {
        width: 85.5px;
        height: 54px;
      }
      @include md() {
        width: 95px;
        height: 60px;
      }
      @include lg() {
        width: 115px;
        height: 75px;
      }
      &:hover {
        cursor: pointer;
      }
      &hide {
        display: flex;
        width: 10%;
        height: 0%;
        opacity: 50%;
        transform: translate(-50%, 25%);
      }
    }
  }
  #absoluteBar {
    z-index: 15;
    opacity: 100%;
    position: relative;
    display: flex;
    align-items: center;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: white;
    // border: 0.5px solid red;
  }
  #fixedBar {
    z-index: 15;
    opacity: 95%;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0%;
    height: 5%;
    width: 100%;
    background-color: white;
    // border: 0.5px solid blue;
  }
}

#headerSecondContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 5%;
  background-color: white;
  @include mobile-only() {
    z-index: 15;
  }
  @include md() {
    z-index: 15;
  }
  @include lg() {
    z-index: 15;
  }
  // border: 1px solid red;
  #firstHiddenBar {
    z-index: 20;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0%;
    height: 80%;
    background-color: $yellow;
    color: white;
    // border: 1px solid red;
    font-weight: bold;
    transition: 0.15s all;
    @include mobile-only() {
      font-size: 1.5rem;
    }
    @include md() {
      font-size: 1.5rem;
    }
    @include lg() {
      font-size: 1.8rem;
    }
  }
  #hiddenBar {
    z-index: 20;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0%;
    height: 50%;
    // border: 1px solid red;
    color: rgba(255, 255, 255, 0%);
    font-weight: bold;
    transition: 0.25s all;
    @include mobile-only() {
      font-size: 1.5rem;
    }
    @include md() {
      font-size: 1.5rem;
    }
    @include lg() {
      font-size: 1.8rem;
    }
    &:hover {
      position: relative;
      height: 80%;
      background-color: $yellow;
      transition: 0.5s all;

      @include mobile-only() {
        font-size: 1.5rem;
        color: white;
      }
      @include md() {
        font-size: 1.5rem;
        color: white;
      }
      @include lg() {
        font-size: 1.8rem;
        color: white;
      }
    }
  }
  #logoBar {
    z-index: 18;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    width: 100%;
    @include mobile-only() {
      position: fixed;
      height: 5%;
    }
    @include md() {
      position: relative;
      height: 100%;
    }
    @include lg() {
      position: relative;
      height: 100%;
    }
    // border: 0.5px solid blue;
    .logo {
      display: flex;
      transform: translate(-50%, 25%);
      transition: 0.3s all;
      // border: 1px solid green;
      @include mobile-only() {
        z-index: 16;
        position: fixed;
        width: 85.5px;
        height: 54px;
        top: 0%;
        left: 50%;
      }
      @include md() {
        z-index: 16;
        position: relative;
        width: 95px;
        height: 60px;
        top: 200%;
        left: 50%;
      }
      @include lg() {
        z-index: 16;
        position: relative;
        width: 115px;
        height: 75px;
        top: 200%;
        left: 50%;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .logohide {
      display: flex;
      width: 100%;
      height: 100%;
      opacity: 0%;
      top: 50%;
      transform: translate(-50%, 25%);
      border: 1px solid red;
    }
  }
  #absoluteBar {
    z-index: 15;
    opacity: 100%;
    position: relative;
    display: flex;
    align-items: center;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: white;
    // border: 0.5px solid red;
  }
  #fixedBar {
    z-index: 16;
    position: fixed;
    display: flex;
    align-items: center;

    height: 5%;
    width: 100%;
    background-color: white;
    // border: 0.5px solid blue;
    @include mobile-only() {
      top: 5%;
      opacity: 100%;
    }
    @include md() {
      top: 5;
      opacity: 95%;
    }
    @include lg() {
      top: 0%;
      opacity: 95%;
    }
  }
}
