.posterContainer {
  width: 100%;
  height: 100%;
  // border: 1px solid pink;

  .sliderWrapper {
    width: 100%;
    height: 100%;
    // border: 1px solid yellow;
    .edge_l {
      position: relative;
      top: 50%;
      left: 10%;
      // border: 1px solid blue;
      @include mobile-only() {
        width: 20vw;
        height: 30vh;
      }
      @include md() {
        width: 20vw;
        height: 35vh;
      }
      @include lg() {
        width: 20vw;
        height: 50vh;
      }
      .card {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.3s ease;
        // border: 1px solid red;
        &:hover {
          transform: rotateY(180deg);
        }
        @include mobile-only() {
          width: 70%;
          height: 60%;
          margin-left: 15%;
          margin-top: 55%;
        }
        @include md() {
          width: 70%;
          height: 70%;
          margin-left: 15%;
          margin-top: 35%;
        }
        @include lg() {
          width: 70%;
          height: 65%;
          margin-left: 15%;
          margin-top: 28%;
        }
        .front {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          .posterCover2 {
            z-index: 5;
            position: relative;
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100%;
          }
          .frontImg {
            position: relative;
            top: -100%;
            width: 100%;
            height: 100%;
          }
        }
        .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          transform: rotateY(180deg);
        }
      }
    }

    .side_l {
      position: relative;
      top: 50%;
      // border: 1px solid blue;
      @include mobile-only() {
        width: 20vw;
        height: 30vh;
      }
      @include md() {
        width: 20vw;
        height: 35vh;
      }
      @include lg() {
        width: 20vw;
        height: 50vh;
      }
      .card {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.3s ease;
        // border: 1px solid red;
        &:hover {
          transform: rotateY(180deg);
        }
        @include mobile-only() {
          width: 80%;
          height: 70%;
          margin-left: 10%;
          margin-top: 40%;
        }
        @include md() {
          width: 80%;
          height: 80%;
          margin-left: 10%;
          margin-top: 25%;
        }
        @include lg() {
          width: 80%;
          height: 75%;
          margin-left: 10%;
          margin-top: 20%;
        }
        .front {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          .posterCover {
            z-index: 5;
            position: relative;
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100%;
          }
          .frontImg {
            position: relative;
            top: -100%;
            width: 100%;
            height: 100%;
          }
        }
        .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          transform: rotateY(180deg);
        }
      }
    }

    .center {
      position: relative;
      top: 50%;
      // border: 1px solid blue;
      @include mobile-only() {
        width: 20vw;
        height: 30vh;
      }
      @include md() {
        width: 20vw;
        height: 35vh;
      }
      @include lg() {
        width: 20vw;
        height: 50vh;
      }
      .card {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.3s ease;
        // border: 1px solid red;
        &:hover {
          transform: rotateY(180deg);
        }
        @include mobile-only() {
          width: 100%;
          height: 80%;
          margin-top: 30%;
        }
        @include md() {
          width: 100%;
          height: 85%;

          margin-top: 17.5%;
        }
        @include lg() {
          width: 90%;
          height: 85%;
          margin-left: 5%;
          margin-top: 13%;
        }
        .frontImg {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
        }
        .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          transform: rotateY(180deg);
          #alignDay {
            z-index: 5;
            position: relative;
            // border: 2px solid yellow;
            width: 100%;
            height: 100%;
            #dDay {
              z-index: 50;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              color: #fff;
              font-weight: bold;
              @include mobile-only() {
                width: 70%;
                height: 30%;
                border: 4px solid $yellow;
                font-size: 1.5rem;
              }
              @include md() {
                width: 75%;
                height: 43%;
                border: 5px solid $yellow;
                font-size: 3.5rem;
              }
              @include lg() {
                width: 75%;
                height: 58%;
                border: 6px solid $yellow;
                font-size: 5rem;
              }
            }
          }
        }
        &:hover {
          #alignDay {
            position: relative;
            width: 100%;
            height: 100%;
            box-shadow: 3px 3px 14px 1px #606060;
            cursor: pointer;
          }
          .backImg {
            position: absolute;
            top: 0%;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .side_r {
      position: relative;
      top: 50%;
      // border: 1px solid blue;
      @include mobile-only() {
        width: 20vw;
        height: 30vh;
      }
      @include md() {
        width: 20vw;
        height: 35vh;
      }
      @include lg() {
        width: 20vw;
        height: 50vh;
      }
      .card {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.3s ease;
        // border: 1px solid red;
        &:hover {
          transform: rotateY(180deg);
        }
        @include mobile-only() {
          width: 80%;
          height: 70%;
          margin-left: 10%;
          margin-top: 40%;
        }
        @include md() {
          width: 80%;
          height: 80%;
          margin-left: 10%;
          margin-top: 25%;
        }
        @include lg() {
          width: 80%;
          height: 75%;
          margin-left: 10%;
          margin-top: 20%;
        }
        .front {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          .posterCover {
            z-index: 5;
            position: relative;
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100%;
          }
          .frontImg {
            position: relative;
            top: -100%;
            width: 100%;
            height: 100%;
          }
        }
        .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          transform: rotateY(180deg);
        }
      }
    }

    .edge_r {
      position: relative;
      top: 50%;
      right: 10%;
      // border: 1px solid blue;
      @include mobile-only() {
        width: 20vw;
        height: 30vh;
      }
      @include md() {
        width: 20vw;
        height: 35vh;
      }
      @include lg() {
        width: 20vw;
        height: 50vh;
      }
      .card {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.3s ease;
        // border: 1px solid red;
        &:hover {
          transform: rotateY(180deg);
        }
        @include mobile-only() {
          width: 70%;
          height: 60%;
          margin-left: 15%;
          margin-top: 55%;
        }
        @include md() {
          width: 70%;
          height: 70%;
          margin-left: 15%;
          margin-top: 35%;
        }
        @include lg() {
          width: 70%;
          height: 65%;
          margin-left: 15%;
          margin-top: 28%;
        }
        .front {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          .posterCover2 {
            z-index: 5;
            position: relative;
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100%;
          }
          .frontImg {
            position: relative;
            top: -100%;
            width: 100%;
            height: 100%;
          }
        }
        .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          transform: rotateY(180deg);
        }
      }
    }

    .else {
      position: relative;
      top: 50%;
      // border: 1px solid blue;
      @include mobile-only() {
        width: 20vw;
        height: 30vh;
      }
      @include md() {
        width: 20vw;
        height: 35vh;
      }
      @include lg() {
        width: 20vw;
        height: 50vh;
      }
      .card {
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.3s ease;
        // border: 1px solid red;
        &:hover {
          transform: rotateY(180deg);
        }
        @include mobile-only() {
          width: 70%;
          height: 60%;
          margin-left: 15%;
          margin-top: 55%;
        }
        @include md() {
          width: 70%;
          height: 70%;
          margin-left: 15%;
          margin-top: 35%;
        }
        @include lg() {
          width: 70%;
          height: 65%;
          margin-left: 15%;
          margin-top: 28%;
        }
        .front {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          .posterCover2 {
            z-index: 5;
            position: relative;
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100%;
          }
          .frontImg {
            position: relative;
            top: -100%;
            width: 100%;
            height: 100%;
          }
        }
        .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          transform: rotateY(180deg);
        }
      }
    }

    .arrow {
      z-index: 10;
      position: absolute;
      top: 40%;
      cursor: pointer;
      // border: 1px solid red;
      @include mobile-only() {
        display: none;
      }
      @include md() {
        width: 5vh;
        height: 5vh;
      }
      @include lg() {
        width: 8vh;
        height: 8vh;
      }
      img {
        @include mobile-only() {
          display: none;
        }
        @include md() {
          width: 90%;
          height: 90%;
        }
        @include lg() {
          width: 90%;
          height: 90%;
        }
      }
    }

    .next {
      right: 0%;
      opacity: 25%;
      @include md() {
        right: -3%;
      }
    }

    .prev {
      left: 0%;
      opacity: 25%;
      @include md() {
        left: -3%;
      }
    }
  }
  // #sliderBar {
  //   width: 75vw;
  //   border: 2px solid red;
  //   background-color: transparent;
  // }
}
