#myArticleBox {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  @include mobile-only() {
    top: 2%;
  }
  @include md() {
    top: 5%;
  }
  @include lg() {
    top: 5%;
  }
  // border: 4px solid green;
  #titleWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    height: 10%;
    // border: 2px solid red;
    @include mobile-only() {
      width: 80%;
    }
    @include md() {
      width: 71%;
    }
    @include lg() {
      width: 66%;
    }
    .title {
      font-weight: bold;
      @include mobile-only() {
        width: 90%;
        font-size: 2rem;
      }
      @include md() {
        width: 85%;
        font-size: 3rem;
      }
      @include lg() {
        width: 85%;
        font-size: 4rem;
      }
    }
  }
  #articleWrapper {
    position: absolute;
    display: flex;
    height: 90%;

    // border: 2px solid red;
    @include mobile-only() {
      width: 100%;
      top: 15%;
    }
    @include md() {
      width: 90%;
      top: 15%;
    }
    @include lg() {
      width: 85%;
      top: 11%;
    }
    #myMemberBoxWrapper {
      position: absolute;

      @include mobile-only() {
        top: 40%;
      }
      @include md() {
        top: 45%;
      }
      @include lg() {
        top: 48%;
      }
    }
  }
  #paginationWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @include mobile-only() {
      top: 75%;
      height: 25%;
    }
    @include md() {
      top: 63%;
      height: 45%;
    }
    @include lg() {
      top: 65%;
      height: 45%;
    }
    // border: 3px solid green;
  }
}
