#myArticleBox {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85%;
  @include mobile-only() {
    top: 2%;
  }
  @include md() {
    top: 15%;
  }
  @include lg() {
    top: 5%;
  }
  #titleWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    height: 10%;
    @include mobile-only() {
      width: 80%;
      left: 9%;
      top: -6%;
    }
    @include md() {
      width: 79%;
      left: 11%;
    }
    @include lg() {
      width: 66%;
      left: 15%;
    }
    // [제목] 내가 쓴 게시물
    .title {
      font-weight: bold;
      @include mobile-only() {
        width: 90%;
        font-size: 1.5rem;
      }
      @include md() {
        width: 85%;
        font-size: 3rem;
      }
      @include lg() {
        width: 85%;
        font-size: 4rem;
      }
    }
  }
  // 게시물 수 ex) 9개의 게시물
  #myArticleCount {
    position: absolute;
    top: 10%;
    left: 19%;
    @include mobile-only() {
      top: 9.5%;
      left: 10.2%;
      font-size: 1.0rem;
    }
    @include md() {
      top: 19%;
      left: 13.8%;
      font-size: 1.6rem;
    }
    @include lg() {
      top: 12%;
      left: 16.9%;
      font-size: 2.4rem;
    }
  }
  #articleWrapper {
    position: absolute;
    display: flex;
    @include mobile-only() {
      width: 90%;
      top: 13.5%;
      height: 90%;
    }
    @include md() {
      width: 80%;
      top: 25%;
      height: 90%;
    }
    @include lg() {
      width: 75%;
      top: 11.5%;
      height: 90%;
    }
    #myMemberBoxWrapper {
      position: absolute;
      top: 0%;
    }
  }
  #paginationWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @include mobile-only() {
      top: 100%;
      height: 25%;
    }
    @include md() {
      top: 110%;
      height: 45%;
    }
    @include lg() {
      top: 72%;
      height: 45%;
    }
  }
  #noArticleImgWrapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    font-size: 3rem;
    color: grey;
    font-weight: bold;
    bottom: 15%;
  }
     // 게시물이 0개 일때, 나타나는 문구
     #noArticleMessage{
      position: absolute;
      opacity: 90%;
      @include mobile-only() {
        bottom: 5%;
        font-size: 1.4rem;
      }
      @include md() {
        bottom: -35%;
        font-size: 2.0rem;
      }
      @include lg() {
        top: 73%;
        font-size: 3.0rem;
      }
    }
  // 게시물이 0개 일때, 나타나는 이미지
  #noArticleImg{
    position: absolute;
    opacity: 50%;
    @include mobile-only() {
      width: 80%;
      height: 100%;
      bottom: 15%;
    }
    @include md() {
      width: 90%;
      height: 120%;
      top: 10%;
    }
    @include lg() {
      width: 90%;
      height: 100%;
      top: -25%;
    }
  }
}
