#myCommentBox {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  @include mobile-only() {
    width: 90%;
    top: -20%;
  }
  @include md() {
    width: 85%;
    top: 10%;
  }
  @include lg() {
    width: 78%;
    top: 10%;
  }
  #titleWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    height: 20%;

    @include mobile-only() {
      height: 12%;
      top: 6%;
      width: 90%;
    }
    @include md() {
      top: 4%;
      height: 8%;
      left: 5%;
      width: 92%;
    }
    @include lg() {
      top: 6%;
      width: 88%;
    }
    // [제목] 내가 쓴 댓글
    .title {
      font-weight: bold;
      @include mobile-only() {
        font-size: 1.5rem;
      }
      @include md() {
        font-size: 3rem;
      }
      @include lg() {
        font-size: 4rem;
      }
    }
  }
  #commentWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;

    @include mobile-only() {
      width: 95%;
      height: 80%;
    }
    @include md() {
      width: 90%;
      height: 70%;
    }
    @include lg() {
      width: 90%;
      height: 110%;
    }
  }
  #myCountWrapper {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 102%;
    align-items: center;
    @include mobile-only() {
    }
    @include md() {
      width: 102%;
    }
    @include lg() {
      bottom: 102%;
    }
  }

  .myOptionWrapper {
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    top: 0%;
    right: 2%;
    // border: 4px solid red;
    @include mobile-only() {
      width: 35%;
    }
    @include md() {
      width: 25%;
    }
    @include lg() {
      width: 15%;
    }
  }

  // 댓글수 (ex. 3개의 댓글)
  .myCount {
    position: relative;
    display: flex;
    @include mobile-only() {
      left: 2%;
      font-size: 1rem;
    }
    @include md() {
      font-size: 1.6rem;
    }
    @include lg() {
      font-size: 2.4rem;
    }
  }
  // 콘서트 / 콘친 게시물 버튼
  .myOrder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 0.5%;
    font-weight: bold;
    @include mobile-only() {
      left: 50.5%;
      width: 19%;
      height: 50%;
      font-size: 1rem;
    }
    @include md() {
      left: 66%;
      width: 14%;
      height: 30%;
      font-size: 1.3rem;
    }
    @include lg() {
      left: 69%;
      width: 11%;
      height: 50%;
      font-size: 1.8rem;
    }
    &:hover {
      background-color: #ffce63;
      color: white;
      cursor: pointer;
      transition: 0.15s all;
    }
  }
  //
  .myOrderChosen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    background-color: #ffce63;
    color: white;

    margin-right: 0.5%;
    font-weight: bold;
    @include mobile-only() {
      left: 50.5%;
      width: 19%;
      height: 50%;
      font-size: 1rem;
    }
    @include md() {
      left: 66%;
      width: 14%;
      height: 50%;
      font-size: 1.3rem;
    }
    @include lg() {
      left: 69%;
      width: 11%;
      height: 50%;
      font-size: 1.8rem;
    }
  }

  //
  #myImgAndText {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    .myImgWrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include mobile-only() {
        width: 9.5%;
        height: 80%;
        top: 0.5%;
        left: 0.5%;
      }
      @include md() {
        width: 8%;
        height: 86%;
        top: 2%;
        left: 1.5%;
      }
      @include lg() {
        width: 7.5%;
        height: 88%;
        top: 2%;
        left: 2%;
      }
      .endArticle {
        z-index: 4;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102%;
        height: 103%;
        background-color: $gray2;
        left: 50%;
        top: 50%;
        border-radius: 5px;
        opacity: 90%;
        transform: translate(-50%, -50%);
        &Chosen {
          @extend .endArticle;
          border-radius: 0px;
        }
        .endTitle {
          z-index: 3;
          position: absolute;
          opacity: 100%;
          color: white;
          font-weight: bold;
          @include mobile-only() {
            font-size: 1.5rem;
          }
          @include md() {
            font-size: 2rem;
          }
          @include lg() {
            font-size: 3rem;
          }
        }
      }
      .myImg {
        position: absolute;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    // 댓글창
    .myTextWrapper {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 102.5%;
      height: 70%;
      top: 30%;
      left: 11%;
      @include mobile-only() {
        width: 92%;
        height: 64%;
        font-size: 1rem;
        text-overflow: ellipsis;
      }
      @include md() {
        width: 96%;
        font-size: 1.1rem;
      }
      @include lg() {
        width: 89%;
        font-size: 1.6rem;
      }
      // (textarea) 댓글 수정창
      #myText {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        margin-right: 0.5%;
        resize: none;

        @include mobile-only() {
          font-size: 1rem;
          text-overflow: ellipsis;
        }
        @include md() {
          font-size: 1.1rem;
        }
        @include lg() {
          font-size: 1.6rem;
        }
      }
    }
  }
  // 게시글 제목 / 날짜 (ex. 2am Concert 22 S/S | 2022-01-20)
  .myDateBox {
    position: absolute;
    display: flex;
    align-items: center;
    width: 89%;
    height: 30%;
    left: 11%;

    .myNickNameAndDate {
      color: $gray;
      @include mobile-only() {
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      @include md() {
        font-size: 1.1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      @include lg() {
        font-size: 1.5rem;
      }
    }
  }
  // 페이지 번호
  #paginationWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @include mobile-only() {
      top: 70%;
      height: 25%;
    }
    @include md() {
      top: 70%;
      height: 45%;
    }
    @include lg() {
      top: 92%;
      height: 30%;
    }
  }
  // 댓글 0개 일때, 표시되는 문구
  #noCommentImgWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    font-size: 3rem;
    color: grey;
    // color: $yellow;
    font-weight: bold;
    bottom: 15%;
  }
  // 댓글 0개 일때, 표시되는 이미지
  #noCommentImg {
    position: absolute;
    opacity: 40%;
    @include mobile-only() {
      // border: 2px solid blue;
      width: 80%;
      height: 45%;
      bottom: 38%;
    }
    @include md() {
      width: 90%;
      height: 80%;
      bottom: 15%;
    }
    @include lg() {
      width: 70%;
      height: 77%;
      bottom: -5%;
    }
  }
  #noCommentMessage {
    position: absolute;
    opacity: 90%;

    @include mobile-only() {
      bottom: 27%;
      font-size: 1.4rem;
    }
    @include md() {
      bottom: 4%;
      font-size: 2rem;
    }
    @include lg() {
      bottom: -17%;
      font-size: 3rem;
    }
  }
}

.myCommentSingleBox {
  position: relative;
  display: flex;
  width: 100%;
  height: 21.5%;
  top: 0%;
  margin-top: 1.5%;
  opacity: 80%;

  &:hover {
    animation: pulse;
    animation-duration: 0.5s;
    box-shadow: 2px 6px 14px 0.5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    opacity: 100%;

    @include mobile-only() {
      border-radius: 5px;
    }
    @include md() {
      border-radius: 10px;
      width: 105%;
    }
    @include lg() {
      border-radius: 10px;
    }
  }
}

.loadingImg {
  position: relative;
  display: flex;
  align-items: center;

  @include mobile-only() {
    width: 4rem;
    height: 4rem;
    left: 47%;
    top: 33%;
  }
  @include md() {
    width: 5rem;
    height: 5rem;
    left: 48%;
    top: 33%;
  }
  @include lg() {
    width: 7rem;
    height: 7rem;
    left: 48%;
    top: 33%;
  }

}
