#myCommentBox {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  // border: 4px solid green;
  @include mobile-only() {
    width: 100%;
  }
  @include md() {
    width: 78%;
  }
  @include lg() {
    width: 78%;
  }
  #titleWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    height: 20%;
    @include mobile-only() {
      width: 80%;
    }
    @include md() {
      width: 85%;
    }
    @include lg() {
      width: 85%;
    }
    // border: 2px solid red;
    .title {
      font-weight: bold;
      @include mobile-only() {
        font-size: 2rem;
      }
      @include md() {
        font-size: 4rem;
      }
      @include lg() {
        font-size: 4rem;
      }
    }
  }
  #commentWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;

    top: 20%;
    @include mobile-only() {
      width: 85%;
    }
    @include md() {
      width: 90%;
    }
    @include lg() {
      width: 90%;
    }
    // border: 2px solid red;
  }
  #paginationWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @include mobile-only() {
      top: 75%;
      height: 25%;
    }
    @include md() {
      top: 77%;
      height: 45%;
    }
    @include lg() {
      top: 77%;
      height: 45%;
    }
    // border: 3px solid green;
  }
}
