#myCommentBox {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  // border: 4px solid green;
  @include mobile-only() {
    width: 90%;
    top: -20%;
  }
  @include md() {
    width: 85%;
    top: 10%;
  }
  @include lg() {
    width: 78%;
    top: 10%;
  }
  #titleWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    height: 20%;
    
    @include mobile-only() {
      height: 12%;
      top: 6%;
      width: 90%;
    }
    @include md() {
      top: 4%;
      height: 8%;
      left: 5%;
      width: 92%;
    }
    @include lg() {
      top: 6%;
      width: 88%;
    }
    // border: 2px solid red;
    // [제목] 내가 쓴 댓글
    .title {
      font-weight: bold;
      @include mobile-only() {
        font-size: 1.5rem;
      }
      @include md() {
        font-size: 3rem;
      }
      @include lg() {
        font-size: 4rem;
      }
    }
  }
  #commentWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
    
    @include mobile-only() {
      
      width: 95%;
      height: 80%;
    }
    @include md() {
      width: 90%;
      height: 70%;
    }
    @include lg() {
      width: 90%;
      height: 110%;
    }
    // border: 2px solid yellowgreen;
  }
  #myCountWrapper {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 102%;

    align-items: center;

    // border: 3px solid blue;
    @include mobile-only() {
    }
    @include md() {
      width: 102%;
    }
    @include lg() {
      bottom: 102%;
    }
  }
  
  .myOptionWrapper {
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    top: 0%;
    right: 2%;
    // border: 4px solid red;
    @include mobile-only() {
      width: 35%;
    }
    @include md() {
      width: 25%;
    }
    @include lg() {
      width: 15%;
    }
  }
  
  .myCommentOptionBtnWrapper{
    position: absolute;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    width: 13.2%;
    height: 100%;
    margin-right: 0.5%;

    // border: 2px solid green;
    font-weight: bold;
    @include mobile-only() {
      width: 19%;
      height: 10%;
      font-size: 1.2rem;
    }
    @include md() {
      width: 16%;
      height: 50%;
      font-size: 1.8rem;
    }
    @include lg() {
      right: 1%;
    }
  }
  .myCommentOptionBtn {
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 0.5%;
    text-align: center;

    font-weight: bold;

    @include mobile-only() {
      width: 19%;
      height: 10%;
      font-size: 1.2rem;
    }
    @include md() {
      width: 12%;
      height: 50%;
      font-size: 1.8rem;
    }
    @include lg() {
      width: 35%;
      height: 60%;
      font-size: 1.5rem;
    }
    &:hover {
      // background-color: #ffce63;
      background-color: #ffce63;
      color: white;
      cursor: pointer;
      transition: 0.15s all;
    }

    // border: 2px solid blue;
  }
  .hidden {
    display: none;
  }
  // 댓글수 (ex. 3개의 댓글)
  .myCount {
    position: relative;
    display: flex;
    @include mobile-only() {
      left: 2%;
      font-size: 1.0rem;
    }
    @include md() {
      font-size: 1.6rem;
    }
    @include lg() {
      font-size: 2.4rem;
    }
    // border: 2px solid blue;
  }
  // 콘서트 / 콘친 게시물 버튼
  .myOrder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    // border: 2px solid pink;

    margin-right: 0.5%;
    font-weight: bold;
    @include mobile-only() {
      left: 50.5%;
      width: 19%;
      height: 50%;
      font-size: 1.0rem;
    }
    @include md() {
      left: 66%;
      width: 14%;
      height: 30%;
      font-size: 1.3rem;
    }
    @include lg() {
      left: 69%;
      width: 11%;
      height: 50%;
      font-size: 1.8rem;
    }
    &:hover {
      background-color: #ffce63;
      color: white;
      cursor: pointer;
      transition: 0.15s all;
    }
  }
  //
  .myOrderChosen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    background-color: #ffce63;
    color: white;

    margin-right: 0.5%;
    font-weight: bold;
    @include mobile-only() {
      left: 50.5%;
      width: 19%;
      height: 50%;
      font-size: 1.0rem;
    }
    @include md() {
      left: 66%;
      width: 14%;
      height: 50%;
      font-size: 1.3rem;
    }
    @include lg() {
      left: 69%;
      width: 11%;
      height: 50%;
      font-size: 1.8rem;
    }
  }
  // 수정하기 / 삭제하기 버튼
  .myOptionBtn {
    z-index: 999;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-weight: bold;
    
    @include mobile-only() {
      display: none;
    }
    @include md() {
      margin-right: 0.2%;
      right: -38%;
      width: 45%;
      height: 70%;
      font-size: 1.0rem;
    }
    @include lg() {
      margin-right: 1.0%;
      right: -11%;
      width: 50%;
      height: 70%;
      font-size: 1.3rem;
    }
    &:hover {
      background-color: #ffce63;
      color: white;
      cursor: pointer;
      transition: 0.15s all;
    }
  }
  //
  #myImgAndText {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    // border: 1px solid purple;
    .myImgWrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      // border: 1px solid purple;
      @include mobile-only() {
        width: 9.5%;
        height: 80%;
        top: 5.5%;
        left: -0.5%;
      }
      @include md() {
        width: 8%;
        height: 86%;
        top: 6.5%;
        left: 1.5%;
      }
      @include lg() {
        width: 7.5%;
        height: 88%;
        top: 7%;
        left: 2%;
      }
      .myImg {
        position: absolute;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & :hover {
      .myImg {
        border: 2px solid $yellow;
        outline: 2px solid $yellow;
      }
    }
    // 댓글창
    .myTextWrapper {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 102.5%;
      height: 70%;
      top: 30%;
      left: 11%;
      border: 1px solid black;
      @include mobile-only() {
        width: 92%;
        height: 64%;
        font-size: 1.0rem;
        text-overflow: ellipsis;
      }
      @include md() {
        width: 96%;
        font-size: 1.1rem;
      }
      @include lg() {
        width: 89%;
        font-size: 1.6rem;
      }
      // (textarea) 댓글 수정창
      #myText {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        margin-right: 0.5%;
        resize: none;

        @include mobile-only() {
          font-size: 1.0rem;
          text-overflow: ellipsis;
        }
        @include md() {
          font-size: 1.1rem;
        }
        @include lg() {
          font-size: 1.6rem;
        }
      }
    }
  }
  // 게시글 제목 / 날짜 (ex. 2am Concert 22 S/S | 2022-01-20)
  .myDateBox {
    position: absolute;
    display: flex;
    align-items: center;
    width: 89%;
    height: 30%;
    left: 11%;
    
    .myNickNameAndDate {
      color: $gray;
      @include mobile-only() {
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      @include md() {
        font-size: 1.1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      @include lg() {
        font-size: 1.5rem;
      }
      // border:1px solid blue;
    }
  }
  // 페이지 번호
  #paginationWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @include mobile-only() {
      top: 70%;
      height: 25%;
    }
    @include md() {
      top: 70%;
      height: 45%;
    }
    @include lg() {
      top: 92%;
      height: 30%;
    }
    // border: 3px solid green;
  }  
  // 댓글 0개 일때, 표시되는 문구
  #noCommentImgWrapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    font-size: 3rem;
    color: grey;
    // color: $yellow;
    font-weight: bold;
    bottom: 15%;
  }
  // 댓글 0개 일때, 표시되는 이미지
  #noCommentImg{
    position: absolute;
    opacity: 40%;
    @include mobile-only() {
      width: 80%;
      height: 65%;
      bottom: 38%;
    }
    @include md() {
      width: 90%;
      height: 80%;
      bottom: 15%;
    }
    @include lg() {
      width: 60%;
      height: 73%;
    }
  }
  #noCommentMessage{
    position: absolute;
    opacity: 90%;

    @include mobile-only() {
      bottom: 27%;
      font-size: 1.4rem;
    }
    @include md() {
      bottom: 4%;
      font-size: 2.0rem;
    }
    @include lg() {
      bottom: 2%;
      font-size: 3.0rem;
    }
  }
}
