#mainConcertInfoBox {
  position: absolute;
  height: 100%;
  // border: 1px solid blue;
  @include mobile-only() {
    width: 100%;
  }
  @include md() {
    width: 80%;
  }
  @include lg() {
    width: 63%;
  }
  #topBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    // border: 1px solid blue;
    @include mobile-only() {
      position: relative;
      top: 8%;
      justify-content: space-between;
      height: 35%;
    }
    @include md() {
      justify-content: flex-start;
      height: 30%;
    }
    @include lg() {
      justify-content: flex-start;
      height: 28%;
    }
    #roofArea {
      position: relative;
      width: 100%;
      height: 20%;
      // border: 1px solid blue;
      #backBtn {
        position: absolute;
        bottom: -65%;
        opacity: 80%;
        cursor: pointer;
        @include mobile-only() {
          right: 5%;
          width: 20px;
          font-size: 1rem;
        }
        @include md() {
          right: 0%;
          width: 30px;
          font-size: 1.5rem;
        }
        @include lg() {
          right: 0%;
          width: 40px;
          font-size: 1.8rem;
        }
      }
    }
    #fromWhereBox {
      display: flex;
      justify-content: space-between;
      width: 35%;
      // border: 1px solid purple;
      @include mobile-only() {
        height: 12%;
        padding-left: 5%;
      }
      @include md() {
        height: 15%;
      }
      @include lg() {
        height: 20%;
      }
      .where {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        background-color: $yellow;
        text-align: center;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        @include mobile-only() {
          height: 100%;
          font-size: 1.2rem;
        }
        @include md() {
          height: 100%;
          font-size: 1.5rem;
        }
        @include lg() {
          height: 75%;
          font-size: 1.6rem;
        }
      }
    }
    #bell {
      display: none;
      position: absolute;
      left: 38%;
      height: 4%;
      @include mobile-only() {
        top: 9%;
        width: 6%;
      }
      @include md() {
        top: 5%;
        width: 4.5%;
        height: 4.5%;
      }
      @include lg() {
        top: 5%;
        width: 4%;
      }
    }
    #titleBox {
      position: relative;
      width: 100%;
      border: 0;
      // background: #ccc;
      @include mobile-only() {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
      }
      @include md() {
        height: 45%;
      }
      @include lg() {
        height: 50%;
      }
      #h2AlignBox {
        // border: 1px solid blue;
        display: flex;
        align-items: center;
        justify-content: baseline;
        width: 90%;
        height: 100%;
        h2 {
          // border: 1px solid blue;
          @include mobile-only() {
            font-size: 2rem;
          }
          @include md() {
            font-size: 2.5rem;
          }
          @include lg() {
            font-size: 3rem;
          }
        }
      }
    }
    #date {
      color: $gray;
      @include mobile-only() {
        position: relative;
        left: 5%;
        font-size: 1.5rem;
      }
      @include md() {
        width: 100%;
        height: 20%;
        font-size: 1.6rem;
      }
      @include lg() {
        width: 100%;
        height: 20%;
        font-size: 1.9rem;
      }
    }
  }
  /*중간 박스*/
  #middleBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    // border: 3px solid green;
    @include mobile-only() {
      position: relative;
      top: 13%;
      height: 70%;
    }
    @include md() {
      height: 70%;
    }
    @include lg() {
      height: 72%;
    }

    #concertInfoBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border: 2px solid blue;
      @include mobile-only() {
        width: 90%;
        height: 70%;
      }
      @include md() {
        width: 93%;
        height: 80%;
      }
      @include lg() {
        width: 95%;
        height: 85%;
      }
      #selectedPoster {
        height: 100%;
        @include mobile-only() {
          width: 38%;
        }
        @include md() {
        }
        width: 37%;
        @include lg() {
          width: 35%;
        }
      }
      #concertInfo {
        position: relative;
        width: 60%;
        // border: 2px solid pink;
        @include mobile-only() {
          height: 100%;
        }
        @include md() {
          height: 80%;
          top: -10%;
        }
        @include lg() {
          height: 80%;
          top: -10%;
        }
        .table {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          // border: 1px solid blue;
          .left-side {
            position: absolute;
            top: 0;
            left: 0;
            width: 30%;
            height: 100%;
            .left {
              font-weight: bold;
              text-align: center;
              // border: 1px solid green;
              @include mobile-only() {
                font-size: 1.2rem;
              }
              @include md() {
                font-size: 1.5rem;
              }
              @include lg() {
                font-size: 2rem;
              }
            }
            #place {
              height: 10%;
              @include mobile-only() {
                height: 15%;
              }
            }
            #date {
              height: 25%;
            }
            #time {
              height: 10%;
            }
            #rating {
              height: 10%;
            }
            #price {
              height: 25%;
            }
            #alarm {
              height: 20%;
            }
          }
          .right-side {
            position: absolute;
            top: 0;
            right: 0;
            width: 70%;
            height: 100%;
            .right {
              // border: 1px solid green;
              @include mobile-only() {
                font-size: 1rem;
              }
              @include md() {
                font-size: 1.5rem;
              }
              @include lg() {
                font-size: 2rem;
              }
              #alarm_text {
                color: $yellow;
                font-weight: bold;
              }
            }
            #place_r {
              position: relative;
              display: flex;
              justify-content: flex-start;
              height: 10%;
              @include mobile-only() {
                height: 15%;
                text-decoration: underline;
                cursor: pointer;
              }
              @include md() {
                width: 120%;
              }
              img {
                width: 30px;
                height: 30px;
                @include mobile-only() {
                  display: none;
                }
                @include md() {
                  position: relative;
                  top: -10%;
                  margin-left: 2%;
                }
                @include lg() {
                  position: relative;
                  top: 0%;
                  margin-left: 2%;
                }
                &:hover {
                  cursor: pointer;
                }
              }
            }
            #date_r {
              height: 25%;
            }
            #time_r {
              height: 10%;
            }
            #rating_r {
              height: 10%;
            }
            #price_r {
              height: 25%;
            }
            #alarm_r {
              height: 20%;
              #mailIcon2 {
                position: relative;
                @include mobile-only() {
                  left: 5%;
                  width: 30px;
                }
                @include md() {
                  left: 5%;
                  width: 35px;
                }
                @include lg() {
                  left: 5%;
                  width: 40px;
                }
                &:hover {
                  cursor: pointer;
                }
              }
              #kakaoIcon2 {
                left: 10%;
                top: 3%;
                @extend #mailIcon2;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    #buttonsWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // border: 1px solid red;
      @include mobile-only() {
        width: 90%;
        height: 20%;
      }
      @include md() {
        position: absolute;
        bottom: 7.5%;
        left: 40.5%;
        width: 56%;
        height: 11%;
      }
      @include lg() {
        position: absolute;
        bottom: 5%;
        left: 40.5%;
        width: 57%;
        height: 12%;
      }

      #black-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40%;
        background: $black;
        color: #fff;
        border: 0;
        border-radius: 5px;
        font-weight: bold;
        #imgAndOpen {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          img {
            @include mobile-only() {
              margin-right: 2%;
              width: 20px;
              height: 20px;
            }
            @include md() {
              width: 30px;
              height: 75%;
              padding-right: 2%;
            }
            @include lg() {
              width: 50px;
              height: 80%;
              padding-right: 2%;
            }
          }
          #open {
            @include mobile-only() {
              font-size: 1.3rem;
            }
            @include md() {
              font-size: 1.7rem;
            }
            @include lg() {
              font-size: 2.2rem;
            }
          }
        }
      }

      #yellow-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40%;
        background: $yellow;
        color: #fff;
        border: 5px;
        font-weight: bold;
        border-radius: 5px;
        @include mobile-only() {
          font-size: 1.2rem;
        }
        @include md() {
          font-size: 1.7rem;
        }
        @include lg() {
          font-size: 2rem;
        }
      }
    }
  }
  /*하단 박스*/
  #bottomBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    bottom: 0%;
    height: 5%;
    // border: 1px solid red;
    @include mobile-only() {
      position: relative;
      top: 26%;
    }
    img {
      display: flex;

      height: 100%;

      @include mobile-only() {
        width: 6%;
        margin-left: 3%;
        margin-right: 1.5%;
      }
      @include md() {
        width: 4%;
        margin-left: 2%;
        margin-right: 1.5%;
      }
      @include lg() {
        width: 3.5%;
        margin: 1%;
      }
    }
    div {
      display: flex;
      justify-content: left;
      height: 100%;
      font-weight: bold;

      @include mobile-only() {
        font-size: 1.5rem;
      }
      @include md() {
        font-size: 1.8rem;
      }
      @include lg() {
        font-size: 2.2rem;
      }
    }
  }
}
