/****** grids ******/

/****** orderBox ******/

#orderBox{
  position: relative;
  display:flex;
  justify-content:right;
  align-items:center;
  width:93%;
  height:20%;
  border-bottom: 1px solid black;
  // border:1px solid red;
}

#orderBoxCurOrder{
  position: absolute;
  display: flex;
  font-size:4rem;
  left:5%;
  bottom:15%;
  transform: translate(0%,50%);
  // border:1px solid red;
}

.orderBoxOrder{
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;
  width:10%;
  height:50%;
  bottom:15%;
  transform: translate(0%,50%);
  // border:1px solid blue;
  border-radius: 5px;
  font-size:2rem;
  font-weight:bold;
  margin-right:0.5%;
}

.orderBoxOrder:hover{
  background-color:#FFCE63;
  color:white;
  cursor: pointer;
}

/****** orderBox ******/

/****** grids ******/