/****** grids ******/

/****** orderBox ******/
#bottomLineOrderBox {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 1%;

  @include mobile-only() {
    width: 93%;
    height: 21%;
    border-bottom: 0.1rem solid black;
  }
  @include md() {
    width: 93%;
    height: 15%;
    border-bottom: 0.15rem solid black;
  }
  @include lg() {
    width: 93%;
    height: 15%;
    border-bottom: 0.2rem solid black;
  }
  &Chosen {
    @extend #bottomLineOrderBox;
    // border: 1px solid blue;
    @include mobile-only() {
      width: 93%;
      height: 35%;
    }
    @include md() {
      width: 93%;
      height: 35%;
    }
    @include lg() {
      width: 93%;
      height: 35%;
    }
  }
  #refreshBtnWrapper {
    width: 3rem;
    height: 3rem;

    cursor: pointer;
    @include mobile-only() {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1%;
    }
    @include md() {
      width: 2.3rem;
      height: 2.3rem;
      margin-right: 1%;
    }
    @include lg() {
      width: 3rem;
      height: 3rem;
      margin-right: 1%;
    }
    .refreshBtn {
      width: 100%;
      height: 100%;
    }
  }
}
#noLineOrderBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  top: 0.1%;
  @include mobile-only() {
    height: 12%;
  }
  @include md() {
    height: 10%;
  }
  @include lg() {
    height: 10%;
  }
}
.order {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 0.5%;
  @include mobile-only() {
    width: 15%;
    height: 50%;
    font-size: 1.3rem;
  }
  @include md() {
    width: 11%;
    height: 50%;
    font-size: 1.5rem;
  }
  @include lg() {
    width: 10%;
    height: 50%;
    font-size: 1.8rem;
  }
  &:hover {
    background-color: #ffce63;
    color: white;
    cursor: pointer;
    transition: 0.15s all;
  }
}
/****** orderBox ******/

/****** articleBox ******/
#articleBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;

  left: 50%;
  // border: 1px solid red;
  transform: translate(-50%, 0%);
  @include mobile-only() {
    font-size: 1.5rem;
    height: 85%;
  }
  @include md() {
    font-size: 2rem;
    height: 90%;
  }
  @include lg() {
    font-size: 2.5rem;
    height: 75%;
  }

  &Chosen {
    @extend #articleBox;
    align-items: center;
    justify-content: center;
    width: 100%;
    // border: 1px solid red;
    @include mobile-only() {
      font-size: 1.5rem;
      height: 60%;
    }
    @include md() {
      height: 70%;
      font-size: 2rem;
    }
    @include lg() {
      height: 50%;
      font-size: 2.5rem;
    }
    #notFound {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      // border: 1px solid blue;
      .text {
        position: absolute;
        color: $gray;
        font-weight: bold;
        @include mobile-only() {
          top: 25%;
          font-size: 2rem;
        }
        @include md() {
          top: 12%;
          font-size: 2.5rem;
        }
        @include lg() {
          top: 33%;
          font-size: 3rem;
        }
      }
      .img {
        position: absolute;

        opacity: 70%;

        @include mobile-only() {
          top: 50%;
          width: 70%;
          height: 90%;
        }
        @include md() {
          top: 27%;
          width: 60%;
          height: 90%;
        }
        @include lg() {
          top: 48%;
          width: 70%;
          height: 110%;
        }
      }
    }
    // border: 1px solid red;
  }
  #box {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    @include mobile-only() {
      border-radius: 5px;
      width: 100%;
      height: 96%;
    }
    @include md() {
      border-radius: 10px;
      width: 100%;
      height: 96%;
    }
    @include lg() {
      border-radius: 10px;
      width: 100%;
      height: 96%;
    }
    // border: 1px solid red;
    padding: 1%;
    &Chosen {
      @extend #box;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: stretch;

      // border: 1px solid blue;
      overflow-x: scroll;
      overflow-y: hidden;
      @include mobile-only() {
        border-radius: 5px;
        width: 100%;
        height: 90%;
      }
      @include md() {
        border-radius: 10px;
        width: 100%;
        height: 90%;
      }
      @include lg() {
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }
    }
    .article {
      position: relative;
      display: flex;
      float: left;
      align-items: center;
      margin-left: 4%;
      margin-top: 4%;
      width: 28%;
      padding-bottom: 28%;
      // border: 1px solid green;
      transition: 2s all;
      &:hover {
        bottom: 1%;
        transition: 1s all;
      }
      @include mobile-only() {
        border-radius: 5px;
      }
      @include md() {
        border-radius: 10px;
      }
      @include lg() {
        border-radius: 10px;
      }
      &Chosen {
        @extend .article;

        transition: 0.15s all;
        @include mobile-only() {
          border: 0.4rem solid $yellow;
        }
        @include md() {
          border: 0.8rem solid $yellow;
        }
        @include lg() {
          border: 1rem solid $yellow;
        }
      }
      .title {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 33.33%;
        top: 50%;
        transform: translate(0, 50%);
        background-color: white;
        transition: 1s all;

        @include mobile-only() {
          border-radius: 0px 0px 5px 5px;
        }
        @include md() {
          border-radius: 0px 0px 10px 10px;
        }
        @include lg() {
          border-radius: 0px 0px 10px 10px;
        }
        &Chosen {
          border-radius: 0px;
          @extend .title;
          height: 33.35%;
        }
        // border:1px solid red;

        opacity: 80%;
        .date {
          opacity: 70%;
          position: relative;
          display: flex;
          height: 30%;
          justify-content: right;
          // border: 1px solid red;
          width: 100%;
          @include mobile-only() {
            font-size: 1rem;
            top: 1%;
            right: 1%;
          }
          @include md() {
            font-size: 1.5rem;
            top: 1%;
            right: 1%;
          }
          @include lg() {
            font-size: 1.8rem;
            top: 1%;
            right: 1%;
          }
        }
        .text {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          text-align: center;
          bottom: 20%;
          height: 60%;
          width: 100%;
          opacity: 90%;
          @include mobile-only() {
            display: block;
            top: 45%;
            font-size: 1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 5%;
            padding-right: 5%;
          }
          @include md() {
            display: block;
            top: 45%;
            font-size: 1.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 5%;
            padding-right: 5%;
          }
          @include lg() {
            display: block;
            top: 45%;
            font-size: 2rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 5%;
            padding-right: 5%;
          }
          // border: 1px solid red;
        }
        .icon {
          position: absolute;
          opacity: 70%;
          @include mobile-only() {
            width: 1rem;
            height: 1rem;
            top: 2%;
            left: 2%;
          }
          @include md() {
            width: 1.8rem;
            height: 1.8rem;
            left: 2%;
          }
          @include lg() {
            width: 2rem;
            height: 2rem;
            top: 1%;
            left: 3%;
          }
        }
        .count {
          position: absolute;
          // font-weight: bold;
          opacity: 70%;
          margin-left: 1%;
          @include mobile-only() {
            top: 1.3%;
            left: 15%;
            font-size: 1rem;
          }
          @include md() {
            top: 1.3%;
            left: 13%;
            font-size: 1.5rem;
          }
          @include lg() {
            top: 1.9%;
            left: 12%;
            font-size: 1.8rem;
          }
        }
      }
      .thumbNail {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        object-fit: cover;
        opacity: 88%;
        transform: translate(-50%, -50%);
        @include mobile-only() {
          border-radius: 5px;
        }
        @include md() {
          border-radius: 10px;
        }
        @include lg() {
          border-radius: 10px;
        }
        &Chosen {
          @extend .thumbNail;
          border-radius: 0px;
        }
      }
      &:hover {
        box-shadow: 2px 6px 14px 0.5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: 0.15s all;
        .title {
          @extend .title;
          opacity: 95%;
          display: flex;
        }
        .thumbNail {
          @extend .thumbNail;
          opacity: 100%;
        }
      }
    }
  }
  /* 스크롤바 CSS */
  #box::-webkit-scrollbar {
    @include mobile-only() {
      width: 0.8rem;
      height: 0.8rem;
    }
    @include md() {
      width: 1rem;
      height: 1rem;
    }
    @include lg() {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  /* 스크롤바 막대 설정*/
  #box::-webkit-scrollbar-thumb {
    height: 5%;
    background-color: $yellow;
    border-radius: 10px;
  }
  /* 스크롤바 뒷 배경 투명도 설정 */
  #box::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
  /* 스크롤바 CSS */
}
/****** articleBox ******/

/****** memberBox ******/
.memberBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  opacity: 95%;
  @include mobile-only() {
    width: 3.5rem;
    height: 1.8rem;
    // width:40%;
    // height:20%;
  }
  @include md() {
    width: 5.5rem;
    height: 2.5rem;
    // width:25%;
    // height:10%;
  }
  @include lg() {
    width: 7.5rem;
    height: 3rem;
    // width:25%;
    // height:10%;
  }
  .icon {
    position: relative;
    display: flex;
    opacity: 70%;
    @include mobile-only() {
      margin-right: 50%;
      width: 11px;
      height: 11px;
    }
    @include md() {
      margin-right: 45%;
      width: 13px;
      height: 13px;
    }
    @include lg() {
      margin-right: 45%;
      width: 16px;
      height: 16px;
    }
  }
  .count {
    position: absolute;
    display: flex;
    align-items: center;
    font-weight: bold;
    opacity: 70%;
    @include mobile-only() {
      padding-top: 3.4%;
      padding-left: 33%;
      font-size: 1rem;
    }
    @include md() {
      padding-top: 3.5%;
      padding-left: 28%;
      font-size: 1.5rem;
    }
    @include lg() {
      padding-top: 4%;
      padding-left: 27%;
      font-size: 2rem;
    }
  }
}
/****** memberBox ******/

/***** pagination *****/
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  left: 50%;
  // border: 1px solid purple;
  .page {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    &Chosen {
      @extend .page;
      background-color: $yellow;
    }
    @include mobile-only() {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0;
      line-height: 2.5rem;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      border-radius: 3px;
      float: left;
    }
    @include md() {
      width: 3rem;
      height: 3rem;
      padding: 0;
      line-height: 3rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      border-radius: 4px;
      float: left;
    }
    @include lg() {
      width: 5rem;
      height: 5rem;
      padding: 0;
      line-height: 5rem;
      margin-left: 0.8rem;
      margin-right: 0.8rem;
      border-radius: 5px;
      float: left;
    }
    &:hover {
      background-color: $yellow;
      cursor: pointer;
      transition: 0.1s all;
    }
  }
  .text {
    position: absolute;
    color: white;
    top: 50%;
    transform: translate(0%, -50%);
    @include mobile-only() {
      font-size: 1.3rem;
    }
    @include md() {
      font-size: 2rem;
    }
    @include lg() {
      font-size: 2rem;
    }
  }
}
/***** pagination *****/

/***** commentBox *****/
#commentBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 95%;
  top: 5%;
  @include mobile-only() {
    height: 80%;
  }
  @include md() {
    height: 100%;
  }
  @include lg() {
    height: 70%;
  }
  .writeBox {
    position: relative;
    display: flex;
    width: 100%;
    top: 0%;
    margin-top: 1.5%;
    border-radius: 5px;
    @include mobile-only() {
      height: 25%;
      border: 1.5px solid $yellow;
    }
    @include md() {
      height: 30%;
      border: 2.5px solid $yellow;
    }
    @include lg() {
      height: 35%;
      border: 2.5px solid $yellow;
    }
    .nicknameBox {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      width: 100%;
      height: 25%;
      margin-left: 1.5%;
      // border:1px solid blue;
      .nameWrapper {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: 50%;
        height: 90%;
        // border:1px solid blue;
        .nickName {
          position: relative;
          display: flex;
          width: 48.5%;
          height: 100%;
          align-items: center;
          color: $gray;
          // border:1px solid red;
          @include mobile-only() {
            font-size: 1.1rem;
          }
          @include md() {
            font-size: 1.5rem;
          }
          @include lg() {
            font-size: 2rem;
          }
        }
        .shield {
          position: relative;
          display: flex;
          width: auto;
          max-height: 100%;
          padding: 1.5%;
          align-items: center;
          justify-content: center;
          // border:1px solid red;
        }
      }
      .byte {
        display: flex;
        margin-right: 3%;
        width: 48.5%;
        color: $gray;
        align-items: center;
        justify-content: right;
        @include mobile-only() {
          font-size: 1rem;
        }
        @include md() {
          font-size: 1.5rem;
        }
        @include lg() {
          font-size: 1.5rem;
        }
      }
      .byteError {
        @extend .byte;
        color: red;
      }
    }
    .commentBodyBox {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 75%;
      top: 25%;
      // border: 1px solid purple;
      .imgWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 10%;
        height: 75%;
        @include mobile-only() {
          margin-left: 1%;
          width: 3.35rem;
          height: 3.35rem;
        }
        @include md() {
          margin-left: 1.5%;
          width: 6rem;
          height: 6rem;
        }
        @include lg() {
          margin-left: 1.5%;
          width: 9rem;
          height: 9rem;
        }
        .img {
          position: relative;
          display: flex;
          align-items: center;
          border-radius: 100%;
          width: 100%;
          height: 100%;
        }
      }
      .bodyWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 2.5%;
        left: 10%;
        width: 87.5%;
        height: 80%;
        // border: 1px solid blue;

        #input {
          position: relative;
          display: flex;
          align-items: center;
          width: 85%;
          height: 100%;
          border: none;
          outline: none;
          overflow: hidden;
          resize: none;
          border-radius: 5px;
          // border: 1px solid blue;
          @include mobile-only() {
            font-size: 1.3rem;
          }
          @include md() {
            font-size: 1.87rem;
          }
          @include lg() {
            font-size: 2rem;
          }
        }
        #inputNotLogin {
          position: relative;
          display: flex;
          top: 12.5%;
          width: 85%;
          height: 100%;
          font-weight: bold;
          color: $gray;
          @include mobile-only() {
            left: 10%;
            font-size: 1.25rem;
          }
          @include md() {
            left: 27.5%;
            font-size: 1.5rem;
          }
          @include lg() {
            left: 27.5%;
            font-size: 2rem;
          }
        }
        #inputBtn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-weight: bold;
          background-color: $yellow;
          margin-right: 1.5%;
          height: 80%;
          cursor: pointer;
          @include mobile-only() {
            width: 15%;
            border-radius: 7.5px;
            font-size: 1rem;
          }
          @include md() {
            width: 10%;
            border-radius: 10px;
            font-size: 1.3rem;
          }
          @include lg() {
            width: 10%;
            border-radius: 15px;
            font-size: 1.5rem;
          }
        }
        #hiddenBtn {
          @extend #inputBtn;
          background-color: #c4c4c4;
          cursor: default;
        }
      }
    }
  }
  .box {
    position: relative;
    display: flex;
    width: 100%;
    height: 21.5%;
    top: 0%;
    margin-top: 1.5%;
    // border: 1px solid purple;
    .dateBox {
      position: absolute;
      display: flex;
      align-items: center;
      height: 30%;
      // border: 1px solid red;
      @include mobile-only() {
        left: 13%;
        width: 87%;
      }
      @include md() {
        left: 10%;
        width: 90%;
      }
      @include lg() {
        left: 10.5%;
        width: 89.5%;
      }
      .nickNameAndDateWrapper {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: 50%;
        height: 90%;
        // border: 1px solid red;
        .shield {
          position: relative;
          display: flex;
          width: auto;
          max-height: 100%;
          align-items: center;
          justify-content: center;
          @include mobile-only() {
            padding: 2%;
          }
          @include md() {
            padding: 1.25%;
          }
          @include lg() {
            padding: 1.25%;
          }
        }
        .nickNameAndDate {
          position: relative;
          display: flex;
          margin-left: 0.5;
          height: 100%;
          align-items: center;
          color: $gray;
          @include mobile-only() {
            font-size: 1rem;
          }
          @include md() {
            font-size: 1.3rem;
          }
          @include lg() {
            font-size: 1.5rem;
          }
        }
      }
      .optionWrapper {
        z-index: 100;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        top: 0%;
        right: 2%;
        // border: 1px solid blue;
        @include mobile-only() {
          width: 40%;
        }
        @include md() {
          width: 25%;
        }
        @include lg() {
          width: 20%;
        }
        .optionBtn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $gray;
          font-weight: bold;
          height: 100%;
          cursor: pointer;
          border: 1px solid #c4c4c4;
          @include mobile-only() {
            width: 45%;
            border-radius: 3px;
            font-size: 1rem;
          }
          @include md() {
            width: 45%;
            border-radius: 3px;
            font-size: 1.2rem;
          }
          @include lg() {
            width: 45%;
            border-radius: 5px;
            font-size: 1.2rem;
          }
        }
        & :hover {
          color: white;
          font-weight: bold;
          background-color: $yellow;
          transition: 0.25s all;
          border: 0px solid $yellow;
        }
      }
    }
    #imgAndText {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      // border: 1px solid purple;
      .imgWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        // border: 1px solid red;
        @include mobile-only() {
          width: 3.1rem;
          height: 3.1rem;
          left: 2%;
        }
        @include md() {
          width: 5rem;
          height: 5rem;
          left: 1.5%;
        }
        @include lg() {
          width: 7.25rem;
          height: 7.25rem;
          left: 2%;
        }
        .img {
          position: relative;
          display: flex;
          align-items: center;
          border-radius: 100%;
          width: 100%;
          height: 100%;
        }
      }
      & :hover {
        .img {
          border: 2px solid $yellow;
          outline: 2px solid $yellow;
        }
      }
      .textWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70%;
        top: 30%;
        @include mobile-only() {
          left: 13%;
          width: 85%;
        }
        @include md() {
          left: 10%;
          width: 87.5%;
        }
        @include lg() {
          left: 10.5%;
          width: 88%;
        }
        // border: 1px solid red;
        #text {
          position: relative;
          display: flex;
          width: 100%;
          height: 95%;
          padding-left: 0.5%;
          resize: none;
          white-space: pre-wrap;
          @include mobile-only() {
            font-size: 1rem;
          }
          @include md() {
            font-size: 1.1rem;
          }
          @include lg() {
            font-size: 1.4rem;
          }
        }
        .byteWrapper {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: right;
          height: 100%;
          width: 20%;
          right: 0%;
          margin-right: 2%;
          .byte {
            align-self: flex-end;
            color: $gray;
            margin: 2.5%;
            @include mobile-only() {
              font-size: 1rem;
            }
            @include md() {
              font-size: 1rem;
            }
            @include lg() {
              font-size: 1.2rem;
            }
          }
          .byteError {
            @extend .byte;
            color: red;
          }
          .errorByteError {
            @extend .byte;
            color: red;
          }
        }
      }
    }
  }
}
.emptyBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 40%;
  // border: 1px solid red;
  div {
    font-weight: bold;
    opacity: 50%;
    @include mobile-only() {
      font-size: 1.5rem;
    }
    @include md() {
      font-size: 2rem;
    }
    @include lg() {
      font-size: 3rem;
    }
  }
  img {
    width: auto;
    max-height: 40%;
    margin-top: 1.5%;
    opacity: 50%;
  }
}
/***** commentBox *****/

/***** headerMenu *****/

#menuWrapper {
  z-index: 16;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include mobile-only() {
    display: flex;
    width: 5%;
    left: 2%;
  }
  @include md() {
    display: flex;
    width: 5%;
    left: 2%;
  }
  @include lg() {
    display: none;
    width: 15%;
    left: 2%;
  }
  // border: 1px solid green;
  .menu {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      color: $yellow;
      transition: 0.15s all;
    }
  }
}
#searchWrapper {
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include mobile-only() {
    display: flex;
    width: 5%;
    right: 16%;
  }
  @include md() {
    display: flex;
    width: 5%;
    right: 9%;
  }
  @include lg() {
    display: flex;
    width: 5%;
    right: 9%;
  }

  .search {
    position: relative;
    z-index: 20;
    // border: 1px solid green;
    &:hover {
      cursor: pointer;
    }
    @include mobile-only() {
      display: flex;
      right: 20%;
      width: 20px;
      height: 20px;
    }
    @include md() {
      display: flex;
      width: 25px;
      height: 25px;
    }
    @include lg() {
      display: flex;
      position: absolute;
      right: 190%;
      width: 25px;
      height: 25px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
#loginWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;

  // border: 1px solid green;
  @include mobile-only() {
    width: 15%;
    right: 0%;
  }
  @include md() {
    width: 10%;
    right: 0%;
  }
  @include lg() {
    width: 5%;
    right: 12%;
  }
  .login {
    position: relative;
    font-weight: bold;
    @include mobile-only() {
      font-size: 2rem;
    }
    @include md() {
      font-size: 2rem;
    }
    @include lg() {
      font-size: 2.5rem;
    }
    &:hover {
      cursor: pointer;
      color: $yellow;
      transition: all 0.15s;
    }
  }
  .profile {
    position: relative;
    display: block;
    margin: auto;
    border-radius: 100%;
    border: 3px solid $yellow;
    cursor: pointer;
    object-fit: cover;
    right: 0%;

    @include mobile-only() {
      border-width: 0.25rem;
      width: 3rem;
      height: 3rem;
    }
    @include md() {
      border-width: 0.3rem;
      width: 3.5rem;
      height: 3.5rem;
    }
    @include lg() {
      border-width: 0.35rem;
      width: 3.5rem;
      height: 3.5rem;
      bottom: 3%;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
#hiddenMenuBox {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 26rem;
  left: 12.5%;
  // border: 1px solid red;
  @include mobile-only() {
    display: none;
  }
  @include md() {
    display: none;
  }
  @include lg() {
    display: flex;
  }
  .menu {
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      color: $yellow;
    }
  }
}
#autoCompleteWrapper {
  position: absolute;
  display: flex;
  // border: 1px solid red;
  height: 100%;
  transition: all 0.3s;
  @include mobile-only() {
    width: 50%;
    height: 100%;
    right: 14.5%;
  }
  @include md() {
    width: 30%;
    height: 100%;
    right: 9%;
  }
  @include lg() {
    width: 15%;
    height: 100%;
    right: 18%;
  }
  &Hide {
    @extend #autoCompleteWrapper;
    transition: all 0.2s;
    opacity: 0%;
    width: 0%;

    @include mobile-only() {
      right: 17.5%;
    }
    @include md() {
      right: 10.5%;
    }
    @include lg() {
      right: 19%;
    }
  }
}
#hiddenSearchBox {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: center;

  height: 100%;
  // border: 1px solid red;
  @include mobile-only() {
    width: 145%;
    right: 2%;
    bottom: 2%;
  }
  @include md() {
    width: 170%;
    right: 0%;
  }
  @include lg() {
    width: 210%;
    right: 0%;
  }
  #searchWrapper {
    position: absolute;
    height: 3rem;
    width: 100%;
    right: 0%;
    background-color: #eaeaea;
    border-radius: 50px;

    @include mobile-only() {
      display: flex;
      justify-content: left;
    }
    @include md() {
      display: flex;
      justify-content: left;
    }
    @include lg() {
      display: flex;
      justify-content: left;
    }
    .searchBar {
      position: relative;
      outline: none;
      resize: none;
      border: none;
      width: 80%;
      left: 2rem;
      background-color: #eaeaea;
      border-radius: 0px;
    }
    .deleteButton {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 50%;

      width: 3rem;
      height: 3rem;
      // border: 1px solid red;
      font-size: 2.5rem;
      @include mobile-only() {
        transform: translate(0%, -50%);
        top: 50%;
        right: 7%;
      }
      @include md() {
        transform: translate(0%, -50%);
        top: 55%;
        right: 7%;
      }
      @include lg() {
        right: 7%;
      }
      &:hover {
        cursor: pointer;
      }
      &UnShow {
        @extend .deleteButton;
        display: none;
      }
    }
  }
  #imgWrapper {
    position: absolute;

    height: 18px;
    width: 18px;
    right: 5%;

    @include mobile-only() {
      display: none;
    }
    @include md() {
      display: none;
    }
    @include lg() {
      display: flex;
    }
    .img {
      display: none;
      width: 100%;
      height: 100%;
    }
  }
  #dropDownWrapper {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);

    // left: 0%;
    top: 87%;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    // margin-top: -1px;
    padding: 0.5rem 0;
    border: 1px solid rgb(223, 225, 229);
    border-radius: 0.5rem;
    box-shadow: 2px 3px 16px 0.1px rgba(0, 0, 0, 0.1);
    transition: all 0.5px;
    z-index: 3;
    overflow-y: scroll;
    overflow-x: hidden;
    @include mobile-only() {
      height: 1000%;
    }
    @include md() {
      height: 1100%;
    }
    @include lg() {
      height: 1400%;
    }
    &Hide {
      @extend #dropDownWrapper;
      width: 0%;
      height: 0%;
      display: none;
    }

    > li:hover {
      background-color: $yellow;
      color: white;
      cursor: pointer;
    }

    > li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 33.33%;
      padding: 0 0rem;

      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
      width: 99%;
      padding: 0 5px;
      color: #404040;
      // border: 1px solid red;
      @include mobile-only() {
        font-size: 1.3rem;
      }
      @include md() {
        font-size: 1.5rem;
      }
      @include lg() {
        font-size: 1.8rem;
      }
      &.selected {
        background-color: $yellow;
      }
      > div {
        position: relative;
        width: 30%;
        height: 100%;
        left: 0;

        // border: 1px solid red;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 5px;
        }
      }
      > p {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 70%;
        height: 100%;
        margin-left: 5%;
        text-align: center;
        font-weight: bold;

        // &:hover {
        //   color: white;
        // }
      }
    }
  }
  /* 스크롤바 CSS */
  #dropDownWrapper::-webkit-scrollbar {
    @include mobile-only() {
      width: 5px;
    }
    @include md() {
      width: 10px;
    }
    @include lg() {
      width: 10px;
    }
  }
  /* 스크롤바 막대 설정*/
  #dropDownWrapper::-webkit-scrollbar-thumb {
    height: 5%;
    background-color: $yellow;
    border-radius: 10px;
  }
  /* 스크롤바 뒷 배경 투명도 설정 */
  #dropDownWrapper::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }
  /* 스크롤바 CSS */
}

/***** headerMenu *****/

/***** modalWrapper *****/
#modalWrapper {
  position: absolute;
  z-index: 990;
  height: 100%;
  width: 100%;
}
/***** modalWrapper *****/

/****** grids ******/
