/****** grids ******/

/****** orderBox ******/
#bottomLineOrderBox{
  position: relative;
  display:flex;
  justify-content:right;
  align-items:center;
  padding-top:1%;
  border-bottom: 2px solid black;
  @include mobile-only(){
    width:93%;
    height:21%;
  }
  @include lg(){
    width:93%;
    height:15%;
  };
}
#noLineOrderBox{
  position: relative;
  display:flex;
  align-items: center;
  justify-content:right;
  width:100%;
  top:0.1%;
  @include mobile-only(){
    height:12%;
  }
  @include lg(){
    height:10%;
  };
}
.order{
  position: relative;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius: 5px;
  font-weight:bold;
  margin-right:0.5%;
  @include mobile-only(){
    width:19%;
    height:50%;
    font-size:1.6rem;
  }
  @include lg(){
    width:10%;
    height:50%;
    font-size:2rem;
  };
  &:hover{
    background-color:#FFCE63;
    color:white;
    cursor: pointer;
  }
}
/****** orderBox ******/

/****** articleBox ******/
#articleBox{
  position:relative;
  display: flex;
  flex-wrap:wrap;
  width:80%;
  height:75%;
  left:50%;
  transform: translate(-50%,0%);
  // border:1px solid blue;
  #box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    height:50%;
    // border:1px solid red;
    padding:1%;
    .article{
      position: relative;
      display: flex;
      align-items: center;
      width:30%;
      padding-bottom:30%;
      // border:1px solid green;
      @include mobile-only(){
        border-radius:5px;
      }
      @include lg(){
        border-radius:10px;
      };
      &:hover{
        box-shadow: 3px 3px 14px 1px #606060;
        cursor: pointer;
      }
      .thumbNail{
        position: absolute;
        display: flex;
        width:100%;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        @include mobile-only(){
          border-radius:5px;
        }
        @include lg(){
          border-radius:10px;
        };
      }
      .title{
        position: absolute;
        display: flex;
        flex-wrap:wrap;
        width:100%;
        height:40%;
        top:40%;
        transform: translate(0,50%);
        background-color: white;
        // border:1px solid red;
        border-radius: 0px 0px 5px 5px;
        opacity: 50%;
        .date{
          position: relative;
          display: flex;
          height: 30%;
          justify-content: right;
          // border: 1px solid red;
          width:100%;
          @include mobile-only(){
            font-size:1.0rem;
          }
          @include lg(){
            font-size:2rem;
          };
        }
        .text{
          position: absolute;
          display: flex;
          bottom:0%;
          height:70%;
          width:100%;
          // border: 1px solid red;
          text-align:left;
          @include mobile-only(){
            font-size:1.0rem;
          }
          @include lg(){
            font-size:2rem;
          };
        }
        .icon{
          position: absolute;

          @include mobile-only(){
            width:11px;
            height:11px;
            left:3%;
          }
          @include lg(){
            width:25px;
            height:25px;
            left:3%;
          };
        }
        .count{
          position:absolute;
          font-weight:bold;

          @include mobile-only(){
            left:15%;
            font-size:1.0rem;
          }
          @include lg(){
            top:1.5%;
            left:13%;
            font-size:2rem;
          };
        }
      }
    }
  }
}
/****** articleBox ******/

/****** memberBox ******/
.memberBox{
  position: absolute;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color:white;
  border:1px solid #c4c4c4;
  border-radius: 5px;
  @include mobile-only(){
    width: 3.5rem;
    height: 1.8rem;
    // width:40%;
    // height:20%;
    // top:40%;
  }
  @include lg(){
    width: 8.9rem;
    height: 3.6rem;
    // width:25%;
    // height:10%;
    // top:50%;  
  };
  .icon{
    position: relative;
    display: flex;
    @include mobile-only(){
      margin-right:50%;
      width:11px;
      height:11px;
    }
    @include lg(){
      margin-right:45%;
      width:16px;
      height:16px;
    };
  }
  .count{
    position:absolute;
    display: flex;
    align-items:center;
    font-weight:bold;
    @include mobile-only(){
      padding-top:3%;
      padding-left:30%;
      font-size:1.0rem;
    }
    @include lg(){
      padding-top:3%;
      padding-left:20%;
      font-size:2rem;
    };
  }
}
/****** memberBox ******/

/***** pagination *****/
#pagination{
  position:relative;
  display: flex;
  align-items: center;
  justify-content:center;
  width:30%;
  left:50%;
  @include mobile-only(){
    height:10%;
  }
  @include lg(){
    height:12%;
  };
  // border:1px solid purple;
  transform: translate(-50%, 0%);
  .page{
    position: relative;
    display: flex;
    justify-content:center;

    background-color:black;
    @include mobile-only(){
      width:19%;
      height:19%;
      padding-bottom:19%;
      margin:2%;
      border-radius:2px;
    }
    @include lg(){
      width:10%;
      height:10%;
      margin:2%;
      padding-bottom:10%;
      border-radius:5px;
    };
    &:hover{
      background-color: $yellow;
      cursor: pointer;
    }
  }
  .text{
    position:absolute;
    color:white;
    top:50%;
    transform: translate(0%,-50%);
    @include mobile-only(){
      font-size:1.3rem;
    }
    @include lg(){
      font-size:2rem;
    };
  }
}
/***** pagination *****/

/***** commentBox *****/
#commentBox{
  position: absolute;
  display:flex;
  flex-wrap: wrap;
  width:95%;
  height:85%;
  top:5%;
  // border:2px solid red;
  #countWrapper{
    position: absolute;
    display: flex;
    width:90%;
    height:10%; 
    top:-12%;
    // border:1px solid purple;
    .count{
      position: absolute;
      display: flex;
      // border:1px solid red;
      bottom:10%;
      left:1%;
      @include mobile-only(){
        font-size:1.5rem;
      }
      @include lg(){
        font-size:2.5rem;
      };
    }
  }
  .box{
    position: relative;
    display:flex;
    width:100%;
    height:20%;
    top:0%;
    border:1px solid #C4C4C4;
    border-radius: 5px;
    .dateBox{
      position: absolute;
      display: flex;
      width:40%;
      height:30%;
      top:1.5%;
      left:1.5%;
      // border:1px solid red;
      .nickNameAndDate{

        color:$gray;
        @include mobile-only(){
          font-size:1.0rem;
        }
        @include lg(){
          font-size:2rem;
        };
        // border:1px solid blue;
      }
    }
    .imgWrapper{
      position: absolute;
      display: flex;

      @include mobile-only(){
        height:9%;
        width:9%;
        padding-bottom:9%;
        bottom:13%;
        left:1%;
      }
      @include lg(){
        height:6%;
        width:6%;
        padding-bottom:6%;
        bottom:10%;
        left:1%;
      };
      // border:1px solid orange;
      .img{
        position: absolute;
        display: flex;
        width:100%;
        height:100%;
        object-fit: 100%;
        border-radius: 100%;
      }
      .shield{
        position: absolute;
        display: flex;
        object-fit: 100%;
        bottom:0%;
        right:0%;
        @include mobile-only(){
          width:13px;
          height:13px;
        }
        @include lg(){
          width:30px;
          height:30px;
        };
      }
    }
    .dotWrapper{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height:4%;
      width:4%;
      padding-bottom: 4%;
      top:0%;
      right:0%;
      // border:1px solid orange;
      .dot{
        position: absolute;
        display: flex;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        object-fit: 100%;
        @include mobile-only(){
          width:1.1rem;
          height:1.1rem;
        }
        @include lg(){
          width:2.5rem;
          height:2.5rem;
        };
      }
    }
    #input{
      position:absolute;
      display: flex;
      width:80%;
      height:50%;
      bottom:0%;
      left:10%;
      border:none;
      outline:none;
      resize:none;
      border-radius: 5px;
      @include mobile-only(){
        left:11%;
        font-size:1.3rem;
      }
      @include lg(){
        left:8%;
        font-size:2.5rem;
      };
    }
    #text{
      position:absolute;
      display: flex;
      width:80%;
      height:50%;
      bottom:0%;
      @include mobile-only(){
        left:11%;
        font-size:1.3rem;
      }
      @include lg(){
        left:8%;
        font-size:2.5rem;
      };
    }
  }
}
/***** commentBox *****/

/****** grids ******/