#concertBoxOuterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  // border-radius: 5px;
  #concertBoxContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    .imgWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 100%;
      // border: 1px solid red;
      overflow: hidden;
      #poster {
        height: 100%;
      }
    }

    .infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 75%;
      height: 90%;
      h2 {
        @include mobile-only() {
          font-size: 1.4rem;
        }
        @include md() {
          font-size: 2rem;
        }
        @include lg() {
          font-size: 2rem;
        }
      }
      .miniBox {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 70%;
        font-size: 1.2rem;
        // border: 1px solid green;
        #left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 50%;
          height: 100%;
          // border: 1px solid green;
          .tagWrapper {
            display: flex;
            flex-direction: rows;
            justify-content: flex-start;
            height: 30%;
            width: 100%;
            // border: 1px solid green;
            #whereTag {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 2.5%;
              width: 35%;
              height: 100%;
              background: $yellow;
              color: #fff;
              font-weight: bold;
              border-radius: 5px;
              @include mobile-only() {
                font-size: 1rem;
              }
              @include md {
                font-size: 1.5rem;
              }
              @include lg {
                font-size: 1.3rem;
              }
            }
          }
          #date {
            font-weight: bold;
            @include mobile-only() {
              font-size: 1.3rem;
            }
            @include md {
              font-size: 1.8rem;
            }
            @include lg {
              font-size: 1.8rem;
            }
          }
        }
        #right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          width: 45%;
          height: 100%;
          // border: 1px solid green;
          #view {
            font-weight: bold;
            @include mobile-only() {
              font-size: 1.2rem;
            }
            @include md() {
              font-size: 1.6rem;
            }
            @include lg() {
              font-size: 1.6rem;
            }
          }
          #place {
            font-weight: bold;
            @include mobile-only() {
              font-size: 1.6rem;
            }
            @include md() {
              font-size: 1.2rem;
            }
            @include lg() {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

#concertChosenBoxOuterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $yellow;
  border-radius: 5px;
  #concertBoxContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 90%;
    // border: 1px solid green;
    #posterAndDay {
      width: 20%;
      height: 100%;
      // border: 1px solid red;
      #poster {
        width: 100%;
        height: 100%;
      }
      #round {
        z-index: 9;
        position: relative;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 60%;
        border-radius: 50%;
        border: 4px solid $yellow;
        text-align: center;
        font-weight: bold;
        color: #fff;
        @include mobile-only() {
          font-size: 2rem;
        }
        @include md() {
          font-size: 4rem;
        }
        @include lg() {
          font-size: 4rem;
        }
      }
    }
    .infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 75%;
      height: 90%;
      color: #fff;
      h2 {
        @include mobile-only() {
          font-size: 1.4rem;
        }
        @include md() {
          font-size: 2rem;
        }
        @include lg() {
          font-size: 2rem;
        }
      }
      .miniBox {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 70%;
        font-size: 1.2rem;
        #left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 50%;
          height: 100%;

          #whereTag {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35%;
            height: 25%;
            background: #fff;
            color: $yellow;
            font-weight: bold;
            border-radius: 5px;
            @include mobile-only() {
              font-size: 1.2rem;
            }
            @include md {
              font-size: 1.8rem;
            }
            @include lg {
              font-size: 1.8rem;
            }
          }
          #date {
            @include mobile-only() {
              font-size: 1.3rem;
            }
            @include md {
              font-size: 1.8rem;
            }
            @include lg {
              font-size: 1.8rem;
            }
          }
        }
        #right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          width: 30%;
          height: 100%;
          #view {
            @include mobile-only() {
              font-size: 1.2rem;
            }
            @include md() {
              font-size: 1.6rem;
            }
            @include lg() {
              font-size: 1.6rem;
            }
          }
          #place {
            @include mobile-only() {
              font-size: 1.2rem;
            }
            @include md() {
              font-size: 1.6rem;
            }
            @include lg() {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
