#concertBoxOuterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  #concertBoxContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .imgWrapper {
      position: relative;
      align-items: center;
      justify-content: center;
      @include mobile-only() {
        left: 0.75%;
        width: 18.5%;
        height: 80px;
      }
      @include md() {
        left: 1.25%;
        width: 17.5%;
        height: 150px;
      }
      @include lg() {
        width: 20%;
        height: 150px;
      }
      overflow: hidden;
      // border: 1px solid red;
      #poster {
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
      }
      #round {
        z-index: 6;
        position: absolute;
        display: flex;
        top: 50%;
        left: 50%;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 60%;
        width: 80%;
        color: white;
        transform: translate( -50%, -50% );
        border-radius: 50%;
        // border: 5px solid red;
      }
    }
    .infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 75%;
      height: 90%;
      // border: 1px solid red;
      h2 {
        width: 100%;
        height: 50%;
        // border: 1px solid red;
        @include mobile-only() {
          font-size: 1.1rem;
        }
        @include md() {
          font-size: 2rem;
        }
        @include lg() {
          font-size: 2rem;
        }
      }
      .miniBox {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50%;
        // border: 1px solid green;
        #left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 50%;
          height: 100%;
          // border: 1px solid green;
          .tagWrapper {
            display: flex;
            flex-direction: rows;
            justify-content: flex-start;
            height: 40%;
            width: 100%;
            // border: 1px solid green;
            #whereTag {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 2.5%;
              width: 35%;
              height: 100%;
              background: $yellow;
              color: #fff;
              font-weight: bold;
              border-radius: 5px;
              @include mobile-only() {
                font-size: 1rem;
              }
              @include md {
                font-size: 1.5rem;
              }
              @include lg {
                font-size: 1.3rem;
              }
            }
          }
          #date {
            font-weight: bold;
            @include mobile-only() {
              font-size: 1.2rem;
            }
            @include md {
              font-size: 1.8rem;
            }
            @include lg {
              font-size: 1.8rem;
            }
          }
        }
        #right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          width: 50%;
          height: 100%;
          // border: 1px solid green;
          @include mobile-only() {
            margin-right: 0.75%;
          }
          @include md() {
            margin-right: 1.25%;
          }
          @include lg() {
          }
          .viewWrapper {
            display: flex;
            flex-direction: rows;
            justify-content: flex-end;
            align-items: center;
            // border: 1px solid red;
            width: 100%;
            height: 15%;
            img {
              width: 10%;
              margin-right: 5%;
              opacity: 70%;
            }
            #view {
              font-weight: bold;
              @include mobile-only() {
                font-size: 1rem;
              }
              @include md() {
                font-size: 1.3rem;
              }
              @include lg() {
                font-size: 1.6rem;
              }
            }
          }
          #place {
            // border: 1px solid red;
            display: flex;
            width: 100%;
            height: 70%;
            align-items: center;
            justify-content: right;
            font-weight: bold;
            @include mobile-only() {
              font-size: 1.1rem;
            }
            @include md() {
              font-size: 1.45rem;
            }
            @include lg() {
              font-size: 1.45rem;
            }
          }
        }
      }
    }
  }
}
#concertBoxOuterContainer :hover {
  // border: 1px solid red;
  
  #poster {
    filter: brightness(30%);
    transition: 0.25s;
  }
  #round {
    transition: 0.5s;
    font-weight: bold;
    color: white;
    @include mobile-only() {
      font-size: 1.2rem;
      border: 2.5px solid $yellow;
    }
    @include md() {
      font-size: 2.5rem;
      border: 5px solid $yellow;
    }
    @include lg() {
      font-size: 2.5rem;
      border: 5px solid $yellow;
    }
  }
}

/* 클릭시 */
#concertChosenBoxOuterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: 5px solid $yellow;
  background-color: $yellow;
  border-radius: 5px;
  color: white;
  transition: 0.25s all;
  #concertBoxContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .imgWrapper {
      position: relative;
      align-items: center;
      justify-content: center;
      @include mobile-only() {
        left: 0.75%;
        width: 18.5%;
        height: 80px;
      }
      @include md() {
        left: 1.25%;
        width: 17.5%;
        height: 150px;
      }
      @include lg() {
        width: 20%;
        height: 150px;
      }
      overflow: hidden;
      #poster {
        z-index: 5;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
      #round {
        display: none;
      }
    }

    .infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 75%;
      height: 90%;
      h2 {
        width: 100%;
        height: 50%;
        // border: 1px solid red;
        @include mobile-only() {
          font-size: 1.1rem;
        }
        @include md() {
          font-size: 2rem;
        }
        @include lg() {
          font-size: 2rem;
        }
      }
      .miniBox {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50%;
        // border: 1px solid green;
        #left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 50%;
          height: 100%;
          // border: 1px solid green;
          .tagWrapper {
            display: flex;
            flex-direction: rows;
            justify-content: flex-start;
            height: 40%;
            width: 100%;
            // border: 1px solid green;
            #whereTag {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 2.5%;
              width: 35%;
              height: 100%;
              background: white;
              color: $yellow;
              font-weight: bold;
              border-radius: 5px;
              @include mobile-only() {
                font-size: 1rem;
              }
              @include md {
                font-size: 1.5rem;
              }
              @include lg {
                font-size: 1.3rem;
              }
            }
          }
          #date {
            font-weight: bold;
            @include mobile-only() {
              font-size: 1.2rem;
            }
            @include md {
              font-size: 1.8rem;
            }
            @include lg {
              font-size: 1.8rem;
            }
          }
        }
        #right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          width: 50%;
          height: 100%;
          // border: 1px solid green;
          @include mobile-only() {
            margin-right: 0.75%;
          }
          @include md() {
            margin-right: 1.25%;
          }
          @include lg() {
          }
          .viewWrapper {
            display: flex;
            flex-direction: rows;
            justify-content: flex-end;
            align-items: center;
            // border: 1px solid red;
            width: 100%;
            height: 15%;
            img {
              width: 10%;
              margin-right: 5%;
              opacity: 70%;
            }
            #view {
              font-weight: bold;
              @include mobile-only() {
                font-size: 1rem;
              }
              @include md() {
                font-size: 1.3rem;
              }
              @include lg() {
                font-size: 1.6rem;
              }
            }
          }
          #place {
            // border: 1px solid red;
            display: flex;
            width: 100%;
            height: 70%;
            align-items: center;
            justify-content: right;
            font-weight: bold;
            @include mobile-only() {
              font-size: 1.1rem;
            }
            @include md() {
              font-size: 1.45rem;
            }
            @include lg() {
              font-size: 1.45rem;
            }
          }
        }
      }
    }
  }
}
