#myProfileResignMembershipModal {
  z-index: 999;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // border: 3px solid red;
  @include mobile-only() {
    position: fixed;
  }
  @include md() {
    position: fixed;
  }
  @include lg() {
    position: fixed;
  }
  #bg {
    z-index: 998;
    position: fixed;
    display: flex;
    // background-color: white;
    background-color: #404040;
    opacity: 50%;
    @include mobile-only() {
      width: 0%;
      height: 0%;
    }
    @include md() {
      width: 100%;
      height: 100%;
    }
    @include lg() {
      width: 100%;
      height: 100%;
    }
  }

  #modalBox {
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    @include mobile-only() {
      width: 100%;
      height: 90%;
      border-radius: 0px;
      top: 10%;
    }
    @include md() {
      width: 50%;
      height: 60%;
      top: 50%;
      transform: translate(0%, -50%);
      border-radius: 20px;
    }
    @include lg() {
      width: 30%;
      height: 70%;
      top: 50%;
      transform: translate(0%, -50%);
      border-radius: 20px;
    }
    #modal {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0%;
      // border: 1px solid red;
      border-radius: 20px;

      #titleWrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include mobile-only() {
          height: 10%;
          top: 9%;
        }
        @include md() {
          height: 10%;
          top: 10%;
        }
        @include lg() {
          height: 10%;
          top: 10%;
        }
        // border: 1px solid red;
        #title {
          position: relative;

          font-weight: bold;
          color: $yellow;
          // border: 1px solid red;
          @include mobile-only() {
            font-size: 4rem;
          }
          @include md() {
            font-size: 4.5rem;
          }
          @include lg() {
            font-size: 5rem;
          }
        }
      }
      #imgBox {
        position: absolute;
        display: flex;
        justify-content: center;
        // border: 1px solid red;
        @include mobile-only() {
          top: 18.5%;
          width: 20rem;
          height: 20rem;
        }
        @include md() {
          top: 19%;
          width: 23rem;
          height: 23rem;
        }
        @include lg() {
          top: 20%;
          width: 25rem;
          height: 25rem;
        }
        #imgWrapper {
          position: absolute;
          display: flex;
          width: 90%;
          padding-bottom: 90%;
          // border: 1px solid blue;
          .img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0%;
          }
        }
      }
      #explainWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
        @include mobile-only() {
          bottom: 34.5%;
        }
        @include md() {
          bottom: 22%;
        }
        @include lg() {
          bottom: 21%;
        }
        // border: 1px solid red;
        .explain {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 100%;
          height: 100%;

          font-weight: bold;
          // border: 1px solid red;
          @include mobile-only() {
            font-size: 2rem;
          }
          @include md() {
            font-size: 2.3rem;
          }
          @include lg() {
            font-size: 2.5rem;
          }
        }
      }
      #resignBtnWrapper {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 90%;
        // border: 1px solid red;

        @include mobile-only() {
          height: 6%;
          bottom: 27%;
        }
        @include md() {
          height: 8%;
          bottom: 8%;
        }
        @include lg() {
          height: 8%;
          bottom: 8%;
        }
        .resignBtn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45%;
          height: 100%;
          background-color: $yellow;
          border: none;
          border-radius: 5px;
          color: white;
          &:hover {
            cursor: pointer;
          }
          @include mobile-only() {
            font-size: 2rem;
          }
          @include md() {
            font-size: 2.3rem;
          }
          @include lg() {
            font-size: 2.5rem;
          }
        }
        .cancleBtn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45%;
          height: 100%;
          background-color: black;
          border: none;
          border-radius: 5px;
          color: white;
          &:hover {
            cursor: pointer;
          }
          @include mobile-only() {
            font-size: 2rem;
          }
          @include md() {
            font-size: 2.3rem;
          }
          @include lg() {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
