#myProfileImageModal {
  z-index: 999;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // border: 3px solid red;
  @include mobile-only() {
    position: fixed;
  }
  @include md() {
    position: fixed;
  }
  @include lg() {
    position: fixed;
  }
  #bg {
    z-index: 998;
    position: fixed;
    display: flex;
    // top: 0;
    background-color: #404040;
    opacity: 50%;
    @include mobile-only() {
      width: 100%;
      height: 100%;
    }
    @include md() {
      width: 100%;
      height: 100%;
    }
    @include lg() {
      width: 100%;
      height: 100%;
    }
  }

  #modalBox {
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    // border: 3px solid green;

    @include mobile-only() {
      width: 70%;
      height: 35%;
      border-radius: 20px;
      top: 30%;
    }
    @include md() {
      // width: 60%;
      // height: 60%;
      // padding-bottom: 60%;
      // top: 50%;
      // transform: translate(0%, -50%);
      // border-radius: 20px;
      width: 50%;
      height: 60%;
      top: 50%;
      transform: translate(0%, -50%);
      border-radius: 20px;
    }
    @include lg() {

      // width: 30%;
      // height: 30%;
      // padding-bottom: 32%;
      // border-radius: 20px;
      width: 30%;
      height: 70%;
      top: 50%;
      transform: translate(0%, -50%);
      border-radius: 20px;
    }
    #modal {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0%;
      // border: 1px solid red;
      border-radius: 20px;

      #titleWrapper {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include mobile-only() {
          height: 10%;
          top: 8%;
        }
        @include md() {
          height: 20%;
        }
        @include lg() {
          height: 20%;
        }
        // border: 1px solid red;
        #title {
          position: relative;

          font-weight: bold;
          color: $yellow;
          // border: 1px solid red;
          @include mobile-only() {
            font-size: 2.5rem;
          }
          @include md() {
            font-size: 3.5rem;
          }
          @include lg() {
            font-size: 4.0rem;
          }
        }
      }
      #imgBox {
        position: absolute;
        display: flex;
        justify-content: center;

        // border: 3px solid blue;
        @include mobile-only() {
          // top: 20%;
          // width: 50%;
          // padding-bottom: 50%;
          top: 25%;
          width: 15rem;
          height: 15rem;
        }
        @include md() {
          // top: 20%;
          // width: 50%;
          // height: 20%;
          // padding-bottom: 50%;
          top: 25%;
          width: 25rem;
          height: 25rem;
        }
        @include lg() {
          // width: 50%;
          // height: 50%;
          // padding-bottom: 50%;
          top: 25%;
          width: 29rem;
          height: 29rem;
        }
        #imgWrapper {
          position: absolute;
          display: flex;
          width: 90%;
          padding-bottom: 90%;

          // border: 2px solid green;
          // @include mobile-only() {
          //   top: 15%;
          //   width: 70%;
          //   height: 70%;
          // }
          // @include md() {
          //   // top: 3%;
          //   width: 95%;
          //   height: 90%;
          //   // padding-bottom: 28rem;
          // }
          // @include lg() {
          //   // top: 20%;
          //   width: 100%;
          //   height: 90%;

          }
          // border: 1px solid blue;
          .img {
            z-index: 999;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0%;
            border-radius: 100%;
          }
        }
        #cameraWrapper {
          z-index: 999;
          position: absolute;
          display: flex;
          justify-content: center;
          
          padding-bottom: 20%;
          @include mobile-only() {
            right: 5%;
            bottom: 0%;
            width: 17%;
            height: 17%;
            padding-bottom: 13%;
          }
          @include md() {
            right: 5%;
            bottom: 0%;
            width: 17%;
            height: 17%;
            padding-bottom: 2%;
          }
          @include lg() {
            right: 5%;
            bottom: 0%;
            width: 17%;
            height: 17%;
            padding-bottom: 2%;
          }
          &:hover {
            cursor: pointer;
          }
          // border: 1px solid blue;
          .camera {
            z-index: 999;
            position: absolute;
            top: -10%;
            right: -20%;
            width: 100%;
            height: 100%;
          }
        }

        // 파일선택
        #imgSelection {
          z-index: 10;
          position: absolute;
          display: flex;
          width: 0.1%;
          height: 0.1%;
          @include mobile-only() {
            top: 73%;
            right: 40%;
          }
          @include md() {
            right: 30%;
            top: 105%;
          }
          @include lg() {
            right: 25%;
            top: 145%;
          }
        }
        #imgSelectionLabel {
          z-index: 10;
          position: absolute;
          align-items: center;
          justify-content: center;
          display: flex;
          top: 80%;
          right: 3.5%;
          width: 19.5%;
          height: 15%;
          // background-color: red;
          opacity: 30%;
          border-radius: 10%;
          @include mobile-only() {
            top: 47.3%;
            right: 22.5%;
            width: 13.3%;
            height: 10%;
          }
          @include md() {
            width: 13.3%;
            height: 14%;
            right: 10.3%;
            top: 64%;
          }
          @include lg() {
            width: 20%;
            right: 1%;
            top: 104%;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      #modifyBtnWrapper {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 90%;

        @include mobile-only() {
          height: 7.5%;
          bottom: 10%;
        }
        @include md() {
          height: 8%;
          bottom: 10%;
        }
        @include lg() {
          height: 8%;
          bottom: 10%;
        }
        .modifyBtn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45%;
          height: 100%;
          background-color: $yellow;
          border: none;
          border-radius: 5px;
          font-weight: bold;
          color: white;
          &:hover {
            cursor: pointer;
          }
          @include mobile-only() {
            font-size: 1.5rem;
          }
          @include md() {
            font-size: 2.3rem;
          }
          @include lg() {
            font-size: 2.5rem;
          }
        }
        .cancleBtn {
          z-index: 990;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 45%;
          height: 100%;
          background-color: black;
          border: none;
          border-radius: 5px;
          font-weight: bold;
          color: white;
          &:hover {
            background-color: #ffce63;
            color: white;
            cursor: pointer;
            transition: 0.15s all;
            border: none;
          }
          @include mobile-only() {
            font-size: 1.5rem;
          }
          @include md() {
            font-size: 2.3rem;
          }
          @include lg() {
            font-size: 2.5rem;
          }
        }
      }
    }
  }

